[2020-07-11 15:41] fbricon opened #2 "Publish artifacts to p2 and Maven repo"
- the jdt.ls extension needs to be accessible from a p2 repo, so it can be consumed downstream
- the microprofile.ls needs to be accessible from the Eclipse nexus repo, so it can be consumed downstream too

Need to setup the Jenkinsfile to make it happen in [Jenkins](https://ci.eclipse.org/lsp4mp/job/lsp4mp/).

[2020-07-13 15:01] yeekangc opened #5 "Handling differences in API versions"
This may not be an issue i.e. we are already handling it satisfactorily.  Filing an issue to track at least to test and in case we need to take further action.

MP APIs may introduce changes between major versions e.g. removing of certain APIs that the language server should handle appropriately.

Example is https://github.com/eclipse/microprofile-health/issues/252 that is being considered for MP

[2020-07-13 15:08] fbricon commented on #5
most likely you'll need to detect which API is used by the user project, then use different strategies if needed. It'll be easier to figure out what to do when there's a concrete example available

[2020-07-14 15:00] rzgry opened #7 "Move quarkus test project names to quarkus-ls repo"
Tests in quarkus-ls are using maven project name constants defined in this repo.

https://github.com/redhat-developer/quarkus-ls/blob/master/quarkus.jdt.ext/com.redhat.microprofile.jdt.quarkus.test/src/main/java/com/redhat/microprofile/jdt/quarkus/containerimages/QuarkusContainerImagesTest.java#L35

https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.test/src/main

[2020-07-15 09:35] angelozerr opened #9 "Add diagram in README"
Add a diagram in README which explains goals of MicroProfile LS and MicroProfile JDT. Show a sample with IJ to show that only MicroProfile LS  is used.

See https://github.com/eclipse/lsp4mp/pull/6#discussion_r454916217

[2020-07-15 15:13] angelozerr opened #10 "Manage extensable hints"
Today hints is working for enums values https://github.com/eclipse/lsp4mp/blob/1fb9b326d89774f4404b30eabdba0e73d9c40c07/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/core/AbstractPropertiesProvider.java#L158 but there are other case like `java.util.logging.Level` which defines final static fields (SEVERE, etc).

It should be more clean to manage hints with JDT e

[2020-07-15 15:30] fbricon opened #12 "Require Java 11 to build/run"
jdt.ls is moving to Java 11 as a minimum requirement, so let's do the same, or we'll run into some serious headaches.
See https://github.com/eclipse/eclipse.jdt.ls/pull/1509

[2020-07-16 12:20] angelozerr commented on #5
Indeed it should be nice to have some sample which causes problem because all features like properties completion inside microprofile-config.properties and Java files depends on the dependencies of the project, but perhaps there are some limitations?

[2020-07-16 13:46] datho7561 commented on #12
I would be interested on working on this

[2020-07-16 15:06] datho7561 opened #14 "Completion in properties file gives enum values before `=`"
Given the following simple application:

[code]

Along with this defined `enum`:

[code]

When completion is opened in the microprofile property file between the property name and `=` (where the `|` is):

[code]

The values for the enum (`EXCLAMATION_MARK,` `PERIOD`, `QUESTION_MARK`) are suggested.

When one the values is selected, it is added between the property name and the `=`, making the prop

[2020-07-20 15:33] rzgry opened #16 "Properties support for microprofile-health"
MP health has a config properties `mp.health.disable-default-procedures` and `mp.health.default.readiness.empty.response`

https://github.com/eclipse/microprofile-health/blob/fbc4759cf944badbe198bd7530b0471d61da8667/spec/src/main/asciidoc/protocol-wireformat.adoc#empty-default-readiness-health-check-responses

[2020-07-22 19:41] xorye opened #20 "Validate application.yaml keys"
Currently in an application.yaml file, if an unknown key exists, there is no error/warning message:
![image](https://user-images.githubusercontent.com/20326645/88220520-140bc180-cc31-11ea-889c-f3ef4d187f90.png)

We have this feature in application.properties files:
![image](https://user-images.githubusercontent.com/20326645/88220417-f0e11200-cc30-11ea-8e77-b8fa50fc2c6e.png)

A step forward might b

[2020-07-23 17:14] rzgry opened #23 "Properties support for microprofile-jwt-auth"
See config documentation for supported properties https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/configuration.asciidoc

[2020-07-23 18:21] datho7561 opened #24 "Hover for Property Expressions"
When hovering over a property expression, it would be helpful to see what value will be put the place of the property expression.
i.e.
[code]
Hovering at `|` should give "hello".

Recursive resolving of references could also be helpful.
i.e.
[code]
Hovering at `|` would give "hello, hi" on hover. But, this is not as important.

[2020-07-27 14:10] rzgry opened #26 "Properties support for microprofile-reactive-messaging"
https://github.com/eclipse/microprofile-reactive-messaging/blob/62c9ed5dffe01125941bb185f1433d6307b83c86/spec/src/main/asciidoc/architecture.asciidoc#configuration

https://quarkus.io/guides/kafka#configuring-the-kafka-connector

[2020-07-27 14:14] rzgry opened #27 "Properties support for microprofile-graphql"
Graphql error handling managed by microprofile config

https://github.com/eclipse/microprofile-graphql/blob/905456693d9bfb1f78efe0d7e614db6fde3324b2/server/spec/src/main/asciidoc/errorhandling.asciidoc

List of config keys:
https://github.com/eclipse/microprofile-graphql/blob/master/server/api/src/main/java/org/eclipse/microprofile/graphql/ConfigKey.java

[2020-07-27 15:05] rzgry opened #28 "Snippets for new microprofile health liveness / readiness checks"
Snippet like `mpliveness` / `mpreadiness` that creates a basic liveness / readiness check for you.

Can see microprofile starter health templates for example:

https://github.com/eclipse/microprofile-starter/blob/adc0dd4508092028474015a13953b8d19aa55b41/src/main/resources/files/mp3_x/ServiceReadyHealthCheck.java.tpl

https://github.com/eclipse/microprofile-starter/blob/adc0dd4508092028474015a13953

[2020-07-27 20:54] angelozerr commented on #26
@rzgry thanks for having created the issue. I will work on this support, see https://github.com/redhat-developer/vscode-quarkus/issues/218 for more information.

[2020-07-27 21:09] rzgry commented on #26
Ah didn't realize there was already an issue under vscode-quarkus. Good to have this issue here as well for tracking.

[2020-07-28 21:50] rzgry opened #31 "Java snippets for jax-rs"
quarkus-ls snippets for `new resource class` and `new resource method` seem generic enough to include in lsp4mp. Could also add any other generic jax-rs snippets that would be useful.

https://github.com/redhat-developer/quarkus-ls/blob/master/quarkus.ls.ext/com.redhat.quarkus.ls/src/main/resources/com/redhat/quarkus/snippets/quarkus-java.json

[2020-07-30 15:46] rzgry opened #33 "Diagnostics for mp-fault-tolerance fallbackMethod"
Would be nice to validate if fallback method exists. Or if it doesnt maybe provide a quick fix to create the fallback method.

Ex. would be good to catch that their is a typo here in the fallback method (`falback` instead of `fallback`)

<img src="https://user-images.githubusercontent.com/16768710/88943724-d672ee00-d259-11ea-8002-24fce0b77d6a.png" width="500px">

[2020-08-03 13:32] angelozerr opened #34 "Completion for mp-fault-tolerance fallbackMethod"
Would be nice to provide completion fallback method completion.

Ex : fallbackMethod="|" should provide fallback:

<img src="https://user-images.githubusercontent.com/16768710/88943724-d672ee00-d259-11ea-8002-24fce0b77d6a.png" width="500px">

[2020-08-04 19:35] datho7561 opened #37 "Full Support for Property Expressions"
The [proposal for the specification for property expressions](https://github.com/eclipse/microprofile-config/pull/577) includes some notable features not implemented in [this PR which introduces rudimentary property expression support](https://github.com/eclipse/lsp4mp/pull/13).

After the specification has been finalized, and the initial support PR has been merged, it would be helpful if the pars

[2020-08-06 12:35] angelozerr opened #39 "Support `handle-as` for metadata properties"
Properties collection follow the same format than https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-configuration-metadata.html

It should be fine to support [handle-as](https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-configuration-metadata.html#handle-as) to say for instance that some quarkus property  have log level enumeration although the property

[2020-08-06 12:40] angelozerr opened #40 "Highlight support for property expression"
When cursor select a property expression value or a property:

[code]

It should highlight the test.property property name and the ${test.property}

[2020-08-06 15:47] kathrynkodama commented on #27
I can pick this up

[2020-08-06 16:54] angelozerr commented on #27
Thanks!

[2020-08-06 20:33] rzgry opened #42 "Properties completion does not appear when first creating the microprofile-config.properties file"
If i open a project without a `microprofile-config.properties`  file. IE. https://github.com/rzgry/healthdemo or https://github.com/OpenLiberty/sample-mp-graphql

When i create the `resources/META-INF/microprofile-config.properties` from the file explorer and then try to trigger completion options nothing is displayed.
![image](https://user-images.githubusercontent.com/16768710/89579384-b024f380-d

[2020-08-07 13:17] datho7561 commented on #33
I would be interested on working on this issue.

[2020-08-07 15:00] angelozerr commented on #42
I think I have an explanation but I don't know how to fix that.

The main problem with your use case is that `src/main/resources` is not in the class path. You can check that in Java dependencies:

![image](https://user-images.githubusercontent.com/1932211/89658295-ab7a4100-d8ce-11ea-99e5-1a962fe7ee87.png)

When you create `resources/META-INF/microprofile-config.properties`, it call the JDT LS ext

[2020-08-07 20:18] rzgry opened #44 "Manage static properties using a staticProvider extension point"
As we continue to add static properties for MicroProfile specs it would be nice to improve the existing propertiesProvider extension point to load static property JSON files using something like this:

[code]

See: https://github.com/redhat-developer/quarkus-ls/issues/247

[2020-08-10 13:29] kathrynkodama commented on #23
I can pick this up

[2020-08-10 14:00] rzgry commented on #42
We could potentially do something in vscode-microprofile like detect if a `microprofile-config.properties` file is created and when it is check if `src/main/resources` is on the classpath and if it is not then try to recompute the classpath?

[2020-08-10 14:15] angelozerr commented on #42
A very simple solution is to avoid returning NONE in JDT LS extension, but I don't know if it's a good idea. My question is why `src/main/resources` is not included in classpath by maven? Is not a pom.xml configuration problem?

[2020-08-10 14:28] rzgry commented on #42
So after creating the `resources/META-INF/microprofile-config.properties` file when this occurs you can open the pom.xml from vscode and press save to trigger a recompute of the class path by vscode-java and then `src/main/resources` is included in the classpath. So it works with the same pom.xml configuration it just needs vscode-java to recompute the classpath after the `src/main/resources` dire

[2020-08-10 14:53] rzgry opened #46 "CDI scope diagnostics for mp metrics @Guage"
MP metrics `@Guage` do not support multiple instances of the underlying bean to be created, because in that case it would not be clear which instance should be used for obtaining the gauge value.  For this reason, gauges should only be used with beans that create only one instance Ie. `@ApplicationScoped` and `@Singleton`

Would be nice to provide diagnostics if a guage is incorrectly being used w

[2020-08-10 20:11] kathrynkodama commented on #46
I can pick this up

[2020-08-11 17:43] #12 closed

[2020-08-12 12:35] kathrynkodama opened #48 "Filter out duplicate completion items coming from MP implementations"
When investigating #23, `smallrye-jwt` is contributing properties https://github.com/smallrye/smallrye-jwt/blob/319ec6b1e13dafeaa19e4f2a8e645107403795c5/implementation/src/main/java/io/smallrye/jwt/config/JWTAuthContextInfoProvider.java#L108 for Thorntail projects. We want these `mp-jwt` properties to appear for all project types.
![image](https://user-images.githubusercontent.com/26146482/9001488

[2020-08-12 12:42] angelozerr commented on #48
I think we should do that.

It was my first idea too, but it will not prevent from duplication with other external JDT extension which could provide duplication too.

@fbricon what do you think about that?

[2020-08-12 13:06] fbricon commented on #48
I don't understand where the duplicate is coming from. Can you provide a sample project? smallrye-jwt is not specific to Thorntail, or is it?

In general, the completion list should not contain duplicates. If the APIs use a Collection, backed by a LinkedHashSet, we should be fine, by I reckon I'm not familiar with the implementation details of the current codebase

[2020-08-12 13:18] angelozerr commented on #48
The problem is that `smallrye-jwt` provides `mp.jwt.verify.publickey` with ConfigProperty annotation:

[code]

See https://github.com/smallrye/smallrye-jwt/blob/319ec6b1e13dafeaa19e4f2a8e645107403795c5/implementation/src/main/java/io/smallrye/jwt/config/JWTAuthContextInfoProvider.java#L108

Liberty doesn't provide this declaration, so there are no completion for `mp.jwt.verify.publickey` in this k

[2020-08-12 13:55] fbricon commented on #48
So how does OpenLiberty (or any other MP implem) handle mp.jwt.verify.publickey?

[2020-08-12 15:07] kathrynkodama commented on #48
In Open Liberty the `mp.jwt.verify.publickey` property is not annotated with `ConfigProperty`

https://github.com/OpenLiberty/open-liberty/blob/c497890fabb500cec66d2beb2bcb1f9272e66184/dev/com.ibm.ws.security.mp.jwt/src/com/ibm/ws/security/mp/jwt/config/MpConfigUtil.java#L69-L72

[2020-08-12 15:21] fbricon commented on #48
Ok so handling duplicates is one thing, but providing completion for mp.jwt.* for all MP implementations just because OpenLiberty needs it seems wrong. That's something that should be contributed by an openliberty (akin to the quarkus one) specific extension IMHO. @yeekangc WDYT?

[2020-08-12 15:38] rzgry commented on #48
I think for Heldion the jwt properties would not be picked up since it looks like they dont use the ConfigProperty annotation either. https://github.com/oracle/helidon/blob/7d2f70897f4fb647539650b89d72cd042c26af91/microprofile/jwt-auth/src/main/java/io/helidon/microprofile/jwt/auth/JwtAuthProvider.java#L880

[2020-08-12 20:18] kathrynkodama commented on #46
We can add a diagnostic warning such that if `@Gauge` is specified and the class is annotated with `@RequestScoped`, `@SessionScoped` or `@Dependent`, we suggest they use `@ApplicationScoped`.

Tested with [Open Liberty](https://github.com/OpenLiberty/guide-microprofile-metrics) and [Quarkus](https://quarkus.io/guides/microprofile-metrics#quarkus-smallrye-metrics_quarkus.smallrye-metrics.path) imp

[2020-08-12 20:42] yeekangc opened #53 "Update file headers to use EPL 2.0"
Update all necessary file headers to use the license that is selected for the project.

e.g.

 * This program and the accompanying materials are made available under the 2
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.

[2020-08-12 21:37] angelozerr commented on #53
I think all files should respect that. Have you found a Java file which doesn't respect this rule?

The thing which is important too is to have

`* SPDX-License-Identifier: EPL-2.0`

[2020-08-12 21:46] yeekangc commented on #53
IP review noted these as EPL 1.0.  Following up further on what more is needed.

microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/core/utils/DependencyUtil.java
microprofile.jdt/org.eclipse.lsp4mp.jdt.test/src/main/java/org/eclipse/lsp4mp/jdt/internal/core/JobHelpers.java
microprofile.jdt/org.eclipse.lsp4mp.jdt.core/plugin.properties

[2020-08-13 08:23] angelozerr commented on #53
Ok I'm working on that

[2020-08-13 12:34] angelozerr commented on #53
@fbricon @yeekangc I have created a PR  in https://github.com/eclipse/lsp4mp/pull/54 which fixes all Java files with proper header. I think we should merge this PR now, no?

[2020-08-18 15:04] rzgry opened #55 "Java snippets for microprofile rest client"
Add a snippet for creating a new rest client similar to the ones for new JAX-RS resources.  Ex: https://github.com/redhat-developer/quarkus-ls/blob/master/quarkus.ls.ext/com.redhat.quarkus.ls/src/main/resources/com/redhat/quarkus/snippets/quarkus-java.json#L2

See: https://quarkus.io/guides/rest-client#create-the-interface

[2020-08-20 12:48] angelozerr opened #58 "Diagnostics for mp-reactive-messaging @Incoming/Outgoing annotation"
Validate that @Incoming/Outgoing annotation are not blank. See https://github.com/eclipse/microprofile-reactive-messaging/blob/62c9ed5dffe01125941bb185f1433d6307b83c86/api/src/main/java/org/eclipse/microprofile/reactive/messaging/Incoming.java#L95

[2020-08-25 13:22] kathrynkodama commented on #48
@fbricon @angelozerr Since Open Liberty and Heldion do not annotate with ConfigProperty should we proceed with filtering out the duplicates?

[2020-08-26 15:05] yeekangc commented on #5
MP 4.0 should bring in a bunch of APIs with major version updates that will require us to think through what it means and how to handle.

[2020-08-26 16:14] yeekangc commented on #5
And yes, ref Fred and Angelo's comments, we will need to go item by item and see what's best and how to handle each.

[2020-08-28 12:27] #53 closed

[2020-08-28 12:54] #9 closed

[2020-08-28 12:59] #28 closed

[2020-08-28 13:02] #31 closed

[2020-08-28 13:05] fbricon opened #60 "Automatically infer package names when inserting class snippets"
eg:

Liveness
![image](https://user-images.githubusercontent.com/16768710/88689968-22daf400-d0c9-11ea-84b5-7a8ec0f5279c.png)
Readiness
![image](https://user-images.githubusercontent.com/16768710/88690158-57e74680-d0c9-11ea-9c99-9a7d5283055c.png)

Also JAX-RS class

See https://github.com/eclipse/lsp4mp/pull/30 and https://github.com/eclipse/lsp4mp/pull/32

[2020-08-28 13:08] #26 closed

[2020-08-28 17:10] rzgry commented on #60
This would also benefit snippets included in the quarkus-ls extension. https://github.com/redhat-developer/quarkus-ls/blob/master/quarkus.ls.ext/com.redhat.quarkus.ls/src/main/resources/com/redhat/quarkus/snippets/quarkus-java.json#L44

[2020-08-31 07:22] #33 closed

[2020-08-31 07:38] #55 closed

[2020-08-31 07:41] #16 closed

[2020-08-31 14:37] datho7561 opened #61 "Diagnostics for self-loops present in microprofile-config.properties"
If you try to reference the value of a property while assigning its value, a diagnostic should appear. For instance:

[code]

`${a}` should be marked as invalid, since it forms a self-loop.

[2020-09-01 18:07] #40 closed

[2020-09-02 14:10] #14 closed

[2020-09-03 13:32] jeffmaury opened #62 "io.quarkus.runtime.util package used in microprofile.jdt"
Seems it should be removed since the LSP4MP move

[2020-09-03 13:55] angelozerr commented on #62
I don't know because it's a copy/paste of StringUtils Quarkus.

[2020-09-03 15:04] #46 closed

[2020-09-03 15:20] kathrynkodama opened #63 "Remove unused import after a quick fix"
The quick fix for MP Metrics `@Gauge` diagnostic replaces the incorrect scope annotation with `@ApplicationScoped`. We should also remove the associated import for the incorrect scope annotation.

For example, removing `import.javax.enterprise.context.RequestScoped` in the images below.
![image](https://user-images.githubusercontent.com/26146482/92134290-5818e700-edd7-11ea-899f-f125fd7be40c.png)

[2020-09-03 15:48] #24 closed

[2020-09-08 13:53] datho7561 opened #65 "Odd completion values in microprofile-config for fault tolerance project"
I get properties such as `Fallback/fallbackMethod`, `Fallback/value`... suggested in microprofile-config files.

To reproduce:

* Generate a Quarkus project from the archetype: `mvn io.quarkus:quarkus-maven-plugin:1.7.2.Final:create`
* cd into the project and add smallrye fault tolerance `./mvnw quarkus:add-extension -Dextension="smallrye-fault"`
* Create a REST resource with a get method, and set

[2020-09-08 13:58] angelozerr commented on #65
I did that according to the documentation:

`Alternatively, you can configure maxRetries to be 6 for all instances of Retry in your application by specifying the property Retry/maxRetries=6.`

https://github.com/eclipse/microprofile-fault-tolerance#configuration

[2020-09-08 14:25] #65 closed

[2020-09-08 15:52] angelozerr opened #66 "NullPointerException with symbols"
I have not studied the problem, but I did a stupid copy/paste of the following content in the` microprofile-config.properties` editor:

[code]

and outline is empty and we have a NullPointerException:

[code]

[2020-09-08 15:58] angelozerr commented on #66
Ok after some test, it crashed with just this content:

`.`

The NPE comes from https://github.com/eclipse/lsp4mp/blob/55ac697e9382db279480d992a993f17bc7a92c60/microprofile.ls/org.eclipse.lsp4mp.ls/src/main/java/org/eclipse/lsp4mp/services/MicroProfileSymbolsProvider.java#L93

[2020-09-09 05:02] #66 closed

[2020-09-09 19:38] rzgry opened #68 "Improve architecture documentation"
Move architecture docs from readme to a separate architecture.md file.

Show in detail the flow of requests for language features ie. diagnostics and quick fixes. From client to mp.ls to mp.jdt etc.

[2020-09-10 07:38] #27 closed

[2020-09-10 07:40] fbricon commented on #48
we should make sure we never propose duplicates, no matter what

[2020-09-10 14:16] angelozerr commented on #48
At first as `mp.jwt.verify.publickey` is not managed by ConfigProperty for all MicroProfile Implementation, we need to add it with static JSON file description. If we do that, we have duplication of `mp.jwt.verify.publickey` with `smallrye-jwt`.

For me there are 2 kinds of duplication:

 * case 1: the duplication JSON+ConfigProperty explained below.
 * case 2:  the duplication when several Java s

[2020-09-14 17:07] rzgry opened #74 "Diagnostics for mp fault-tolerance Asynchronous annotation"
https://github.com/eclipse/microprofile-fault-tolerance/blob/master/spec/src/main/asciidoc/asynchronous.asciidoc#asynchronous

Any methods marked with this annotation must return one of:

`java.util.concurrent.Future`
`java.util.concurrent.CompletionStage`
Otherwise, org.eclipse.microprofile.faulttolerance.exceptions.FaultToleranceDefinitionException occurs during deployment.

[2020-09-15 15:44] rzgry opened #75 "Sequence diagram of properties completion"
Discussed in #71

Would be nice to have a sequence diagram of the communication between lsp4mp, the client and the external component in our architecture documentation.

Also would be nice to have a simple diagram with vscode completion which shows MP completion and LSP4MP server side which returns Spring Boot Metadata JSON list of properties.

[2020-09-15 16:15] datho7561 commented on #62
I'd be interested in investigating this

[2020-09-15 16:47] rzgry opened #77 "Diagnostics for invalid annotation parameter values"
Several mp fault tolerance annotations will throw a `FaultToleranceDefinitionException` if configured incorrectly.  While I noticed this for fault tolerance, probably would be good to design this in a way that could be re-used for other mp-specs annotations.

A common scenario is parameters that have a min/max value

Ex. circuit breaker failure ratio must be between 0-1 https://github.com/eclipse/

[2020-09-16 06:01] #68 closed

[2020-09-16 15:05] rzgry opened #78 "[MP Config 2.0] Support for config profiles"
https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/configprofile.asciidoc

The property `mp.config.profile` is used to specify the profile being used.

Config Profiles can work on the property level and source file level.

Ie.

Property level:

A profile property matching the active profile name overrides a regular property in the same config source.

[code]

Config

[2020-09-16 15:10] rzgry opened #79 "[MP Config 2.0] Hover support for @ConfigProperties(prefix="myPrefix") annotation"
`@ConfigProperties` annotation is used to group properties that share the same prefix into a single class or interface.

Would be nice to provide some sort of hover support that shows the value of the properties similar to what we do for the `@ConfigProperty` annotation

https://github.com/eclipse/microprofile-config/blob/85112b2e80843a07a66a25406f1a570ffcd35fe3/spec/src/main/asciidoc/configexampl

[2020-09-16 15:11] angelozerr commented on #78
Please not that we have already some profiles supports which comes from Quarkus (ex : you can type '%' and you should have completion), but we don't manage `mp.config.profile`.

I think we should discuss with Quarkus team to manage their profile with MP specification and with `mp.config.profile`

[2020-09-16 17:23] kathrynkodama commented on #74
I can pick this up

[2020-09-17 17:19] rzgry opened #80 "[MP Config 2.0] Completion for properties defined using @ConfigProperties"
For example with a class like

[code]

Completion options should exist for
[code]

The prefix can also be overriden when injecting the bean annotated with `@ConfigProperties`.

Ex:
[code]
Should result in compleition options for:
[code]

There are other cases to consider as well. More information on how properties are retrieved can be found in the spec https://github.com/eclipse/microprofile-confi

[2020-09-17 19:36] angelozerr commented on #80
To verify, but if I remember Spring Boot have the same concept with Configproperties.

They manage JSPN with `groups ` insteaf of `properties` https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-configuration-metadata.html#configuration-metadata-format

I think we should so that too (generate on MicoProfile JDT side `groups `) and manage "groups" on MicroProfile LS side for com

[2020-09-18 07:37] angelozerr commented on #80
Please note that we have managed Quarkus ConfigProperties in https://github.com/redhat-developer/quarkus-ls/blob/master/quarkus.jdt.ext/com.redhat.microprofile.jdt.quarkus/src/main/java/com/redhat/microprofile/jdt/internal/quarkus/providers/QuarkusConfigPropertiesProvider.java but it doesn't use "groups", I think we should update on Quarkus side this provider to manage "groups".

For Quarkus side

[2020-09-18 07:40] angelozerr commented on #79
This issue is the same for completion https://github.com/eclipse/lsp4mp/issues/80#issuecomment-694455748 because it's just a matter to generate the properties from ConfigProperties. Once thoses properties will be generated on JDT side, The MicroProfile LS which should  use `"groups"` information to generate properties in the cache will provide validation, hover, definition, completion support.

[2020-09-18 07:45] angelozerr commented on #78
We shoud follow the Quarkus discussion at https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Profiles.20.20.26.20MicroProfile.20Config.202.2E0

[2020-09-18 07:50] angelozerr opened #81 "Validate duplicate ConfigProperty name in Java files"
It should be nice if we could warn duplicate name for ConfigProperty:

[code]

I think to do that, we should set in the cache the computed properties for a given project.

[2020-09-18 08:01] #48 closed

[2020-09-18 08:02] angelozerr commented on #23
Fixed by https://github.com/eclipse/lsp4mp/pull/73

[2020-09-18 08:02] #23 closed

[2020-09-18 08:04] fbricon commented on #81
Those are not duplicate properties

[2020-09-18 08:08] angelozerr commented on #81
I have updated my sample, you can see that you have 2 declaration of ConfigProperty wuth the same name `property.location` which have not the same type, I think it's not valid.

[2020-09-18 13:50] rzgry commented on #79
I meant for this issue to be about Hover in Java files when hovering over the `@ConfigProperties` annotation. Similar to what we have for `@ConfigProperty`

![image](https://user-images.githubusercontent.com/16768710/93605011-32bdd880-f994-11ea-92af-920f0228a3eb.png)

Which i think will require updating this file in the JDT side: https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.e

[2020-09-18 14:02] angelozerr commented on #79
Thanks @rzgry for your clarification! To avoid having some confusions, I have created an new `java-files` label.

[2020-09-24 09:58] QiAnXinCodeSafe opened #82 "Unused Field"
https://github.com/eclipse/lsp4mp/blob/0c8beaf50a995f683528169a1727209acfbdbdac/microprofile.jdt/org.eclipse.lsp4mp.jdt.test/projects/maven/config-quickstart/src/main/java/org/acme/config/CustomExtensionConfig.java#L12

This field is never used.

[2020-09-24 10:05] fbricon commented on #82
This is a test asset, used to check that it's not reported as an available property.

This works as intended

[2020-09-24 10:05] #82 closed

[2020-09-28 14:25] rzgry opened #83 "Update references to Eclipse MicroProfile to just Microprofile"
When getting the announcement blog post for lsp4mp published to microprofile.io it was mentioned that the MicroProfile name stands alone without "Eclipse".

We should update references in the readme and elsewhere from "Eclipse MicroProfile" to just "MicroProfile"

[2020-09-29 06:50] Baibhab97 commented on #83
I would like to pick this up.

[2020-09-29 14:33] rzgry commented on #83
In the README.md file where it says "Eclipse MicroProfile" it should be changed to "MicroProfile"

Ex. the title: `Eclipse LSP4MP - Language Server for Eclipse MicroProfile` should be changed to `Eclipse LSP4MP - Language Server for MicroProfile`

[2020-09-29 14:51] Baibhab97 commented on #83
Ok. I will make the necessary changes and raise a PR. Also, except for README.md, are there any other files also where the changes should be incorporated?

[2020-09-29 15:29] rzgry commented on #83
I did a quick search and I think it is just in the README.

[2020-09-29 15:32] Baibhab97 commented on #83
Yes, I have also checked, it's just there in the README file. I have already done the required changes and will raise the PR on October 1st, so that it counts for Hacktoberfest. You can assign the issue to me.

[2020-09-29 15:34] rzgry commented on #83
Awesome thanks 😄

[2020-10-01 03:26] Baibhab97 commented on #83
Hi @rzgry , I have raised the PR.

[2020-10-01 08:52] angelozerr opened #87 "Navigation code with MicroProfile (WorkspaceSymbol)"
Provide the same feature than Spring Boot https://code.visualstudio.com/docs/java/java-editing#_navigating-code-with-spring-boot

[2020-10-01 08:54] angelozerr opened #88 "Definition support from Java to properties for ConfigProperty/name"
Like IJ implement Navigation from Java code to properties files is also provided. See https://blog.jetbrains.com/idea/2020/07/intellij-idea-2020-2-eap6-jakarta-ee-9-quarkus-swagger-http-client-and-more/

[2020-10-01 08:58] angelozerr opened #89 "Separate Java/Properties features in MicroProfile LS"
MicroProfile LS manages Java and properties files. For LSP TextDocumentService layer, it's pretty well separated, we have

 * ApplicationPropertiesTextDocumentService.java for properties files. We should be renamed to PropertiesTextDocumentService (because it manages all properties files like microprofile-config.properties, aplication.properties and application.yaml).

 * JavaTextDocumentService.j

[2020-10-01 08:59] angelozerr opened #90 "Validate defaultValue of @ConfigProperty"
Validate defaultValue of @ConfigProperty  according the field type.

Given this sample:

[code]

We should have `XXXXXXXXXXXXXXX` which is highlighted as error because the expected value is an Integer.

This feature must be implemented on JDT LS side with the `com.redhat.microprofile.jdt.core.javaFeatureParticipants` diagnostics extension point.

As we have validation for value type in MicroProfil

[2020-10-01 09:02] angelozerr opened #91 "Go to definition for @ConfigProperty bound to parameters"
Currently, when a `@ConfigProperty` is bound to a method parameter like so:
[code]

Doing "Go to definition" for `greeting.method.message` from an application.properties file brings the user to the `setMessage()`'s location.

It would be better if it would bring the user directly to the `String message`'s location instead.

To manage this usecase, we need to add `sourceParameter` information in It

[2020-10-01 09:05] angelozerr commented on #60
Indeed, it's the reason why I use every time the same variable `packagename` in all JSON snippets.

[2020-10-01 09:17] angelozerr commented on #20
I did that because the YAML Language Server cannot manage validation exclude of some properties. It's the reason why JSON Schema is generated with `additionalProperties: false`

If YAML Language Server supports this exclude properties validation, we could remove this `additionalProperties: false`.

An another idea is to keep to the user to choose if lenient or not must be processed with a new sett

[2020-10-01 13:45] #83 closed

[2020-10-02 21:43] #75 closed

[2020-10-15 19:16] rzgry opened #94 "REST client CodeLens only shows up for GET annotations."
Currently the MicroProfile REST Client CodeLens only show up for paths annotated with `@GET`.

<img src="https://user-images.githubusercontent.com/16768710/96175239-989c7200-0ef8-11eb-8f2f-b3e16cd684b1.png" width="400px" >

I think it makes sense to display them for other annotations like POST or PUT even though they cannot be accessed from the browser. (If possible maybe we could make CodeLens fo

[2020-10-16 07:53] angelozerr commented on #94
The main reason is that POST/PUT should not be clickable. I agree with you, POST/PUT CodeLens should appear but we need to manage click:

 * solution 1: when you create a CodeLens, you set the openURICommandId to null https://github.com/eclipse/lsp4mp/blob/ab86a54e2be98c20ada1664ce910a015779c6b4d/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/core/jaxrs/JaxRsUtil

[2020-10-28 08:21] angelozerr opened #95 "Contribute to exclude property from validation"
See the issue https://github.com/redhat-developer/vscode-microprofile/issues/22

Today user can exclude properties to ignore validation with settings. This issue gives the capability to contribute for excluded properties with Java SPI.

//cc @apupier

[2020-10-28 09:10] angelozerr opened #96 "MicroProfileConfigPropertyProvider does not support @ConfigProperty on methods"
Original issue from https://github.com/redhat-developer/quarkus-ls/issues/322

I have the following class:

[code]

Seems to me this is a valid use of `@ConfigProperty` but code assist does not propose `my.property` as one of the possible keys.

[2020-10-30 17:22] datho7561 opened #98 "Java Hover provider does not handle profiles"
Please see https://github.com/redhat-developer/quarkus-ls/issues/277

[2020-11-02 11:44] angelozerr commented on #95
Here my idea how to contribute to exclude validation:

 * create a file `META-INF/lsp4mp/settings.json`
 * write the settings.json file like this:

[code]

The idea is to provide the capability to contribute another settings (not the whole) from extension.

@fbricon what do you think about this idea?

[2020-11-02 16:40] yeekangc opened #99 "Support MicroProfile 4.0 APIs"
This is an "epic" to identify and track the work that is needed to support MP 4.0 APIs when the release reaches GA

- Language assistance to support new APIs in 4.0 release
- What is sensible and possible to support users moving from 3.x APIs to 4.x APIs
- Handling for #5

[2020-11-02 17:22] angelozerr commented on #99
If we should support deprecated property inside microprofile-config.properties, we could do that like Spring Boot Metadata https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-configuration-metadata.html#configuration-metadata-property-attributes provides with `deprecation` information.

We could implement it if we need to support deprecated properties.

[2020-11-02 18:48] rzgry commented on #99
@angelozerr Along with any deprecated properties. It would be nice to provide some kind of support for newly added properties. For example: MP Health 3.0 will add a new `mp.health.default.readiness.empty.response` property. (https://github.com/eclipse/microprofile-health/releases)

Would be good to only display the property for `mp.health.default.readiness.empty.response` if they are using MP heal

[2020-11-03 08:32] fbricon commented on #95
interesting idea, but how do you handle conflicts between different colliding settings from different jars. Would the list of supported settings be restricted?

[2020-11-03 08:42] fbricon opened #100 "ClassCastException: PropertyValueLiteral cannot be cast to class PropertyKey"
Steps to reproduce:

clone https://github.com/fbricon/quarkus-spread-poll
follow  https://www.youtube.com/watch?v=0KYL6Q1QO4c&feature=youtu.be&t=1125

[code]

[2020-11-03 08:46] fbricon commented on #100
I can't reproduce the issue. Didn't see either before performing the demo live.

[2020-11-03 08:51] angelozerr commented on #95
My idea is to manage for the moment only exclude validation settings. Have you some usecase about conflicts?

Perhaps one extension exclude only `camel.*` and an another extension exclude only `camel.abcd.*`. If it that, what can we done?

Yes for the moment I would like to just take validation excluded settings. Enable codelens settings would be ignored for instance.

My initial idea is to follow

[2020-11-03 08:53] angelozerr commented on #100
The error is very strange, because we create a diagnostic for property key for unknown validation type and code action retrieve the property key from this diagnostic range. I don't understand how we could have this usecase?

[2020-11-03 08:56] fbricon commented on #95
I guess both exclusions apply (same as today), meaning camel.* will take precedence anyways

[2020-11-03 09:06] fbricon opened #101 "Hover over @ConfigProperty name should resolve property expressions"
Given this application.properties:
[code]
hovering over the "greeting" key, "Welcome to My App" is displayed, as expected.

In a class that declares
[code]
hovering over the `greeting` value of @ConfigProperty, "Welcome to ${quarkus.application.name}" is displayed, instead of the resolved "Welcome to My App"

See https://youtu.be/0KYL6Q1QO4c?t=1677

[2020-11-03 09:11] angelozerr commented on #95
Yes exactly, so we don't manage conflicts for this validation settings excluded.

[2020-11-03 09:24] fbricon commented on #94
if the solution to make the links not clickable is to just send a null/empty command, we should do that

[2020-11-03 10:18] angelozerr commented on #94
It should work.

[2020-11-03 10:46] angelozerr commented on #101
Please note that when you hover ConfigProperty in Java file, we use the properties file from `target `folder. This issue requires that evaluation expression must be done in MP JDT LS side.

Today evaluation expression is done only on MP LS side. It should be nice to share this evaludation expression utility between MP JDT LS and MP LS side.

We have the same classes in commons package:

 * on MP J

[2020-11-03 11:52] angelozerr commented on #99
Ok I see the idea. The problem comes from only with static-properties (our static JSON files which describe properties). An idea that I had, is that we could add a new attribute `@since `to declare when the property is available.

For instance in https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/static-properties/mp-health-metadata.json

we could write the

[2020-11-06 14:43] jeffmaury opened #103 "Server does not run under Java8"
While testing with IntelliJ, I noticed some errors due to unknown methods.
I also tried to rebuild under Java8 and got some compilation errors.

[2020-11-06 14:46] fbricon commented on #103
not it requires Java 11

[2020-11-06 14:58] jeffmaury commented on #103
Then that's an issue as:
- it prevent Quarkus Tools for IntelliJ to be used on older versions of IJ
- it prevents Quarkus Tools for Eclipse to be used pre 2020-09

I understand the second is harder to fix but my PR will fix the first one

[2020-11-06 15:45] fbricon commented on #103
JDT.LS depends on Java 11, so Eclipse pre 2020-09 is a non-starter
I'm really super not fond of the idea of targeting different JDKs for the different layers, ls vs jdt.ls.

I thought Quarkus was supposed to require Java 11 soon anyways. What's the status on that @maxandersen, @emmanuelbernard?

[2020-11-06 15:49] jeffmaury commented on #103
Yes Quarkus requires Java11 but we are talking about the Java runtime that runs the IDE

[2020-11-06 15:50] maxandersen commented on #103
We work with both versions but that's for runtime and build.

The tooling still can support building / using Java 8 projects despite Ide require Java 11.

Jeff. - how old / young versions of idea are we talking about that require Java 8?

[2020-11-06 15:53] fbricon commented on #103
@maxandersen I know Quarkus still compiles/runs using Java 8 for now, but we were told Quarkus would soon require Java 11 minimum.
The point is, if Quarkus requires Java 11, then users have JDK 11, so no need to bother supporting Java 8 on the tooling side.

[2020-11-06 16:20] angelozerr commented on #103
If it's really a problem, we could use java 8 for MicroProfile LS  and Java 11 for MicroProfile JDT?

[2020-11-06 17:11] maxandersen commented on #103
What I'm saying is that quarkus have version is not really relevant.

Question is what version of IntelliJ needs.

Like if that is a 3 year old IntelliJ I don't care. If it's the current version (not) EAP I would be concerned.

[2020-11-06 17:47] jeffmaury commented on #103
Seems Java11 is from 2019.2
Quarkus Tools for IntelliJ is compatible with 2019.1 +
As we are approaching 2020.3 I think it's fine to require 2019.2

[2020-11-06 18:02] maxandersen commented on #103
So no problem ? ;)

[2020-11-07 16:47] jeffmaury commented on #103
Yes we should be fine

[2020-11-07 16:47] #103 closed

[2020-11-16 15:03] #95 closed

[2020-11-17 07:20] angelozerr commented on #39
Fixed with https://github.com/eclipse/lsp4mp/pull/105

[2020-11-17 07:20] #39 closed

[2020-11-17 07:22] angelozerr commented on #10
Duplicate of https://github.com/eclipse/lsp4mp/issues/39

[2020-11-17 07:22] #10 closed

[2020-11-18 19:23] datho7561 opened #108 "Only show Java file snippets relevent to the context"
Currently, class snippets, such as `mpliveliness` and `mpreadiness` are suggested anywhere in a Java file:

![mpreadiness-inside-class](https://user-images.githubusercontent.com/22376627/99577025-bd2cb380-29a8-11eb-944d-1926488eea84.gif)

It might be helpful to:
* Only show snippets that create class definitions when the cursor isn't inside a class definition
* Only show snippets that add methods

[2020-11-18 21:33] datho7561 commented on #34
I would be interested in working on this

[2020-11-18 21:52] rzgry commented on #34
Thanks @datho7561 🙂

[2020-11-19 14:56] datho7561 commented on #100
I can take a look at this

[2020-11-19 15:25] rgrunber commented on #94
I can have a look.

[2020-11-25 05:13] #60 closed

[2020-11-25 14:26] angelozerr commented on #108
@datho7561 when I implement snippet support for Java I wanted to manage that but I gave up because:

 * it requires that you trigger JDT LS for each Java completion(to know where you are in the AST).
 * it's really difficult to know exactly where you are with the JDT AST (ex : before a method is very hard to manage it, but perhaps @rgrunber have a better idea than me about that).

[2020-11-25 15:42] rgrunber commented on #108
Is it possible to query once per cursor location ? For example, if you had a command that sends the file and offset, and returns a set of contexts that may apply. Then you can just determine if the code template you'd like to display is applicable in the given contexts.

From the cursor and file, you can probably  resolve to an ASTNode. If you travel up the ASTNode parents and encounter a MethodDe

[2020-11-27 09:40] fbricon opened #110 "Use `kill -0` instead of `ps -p` in ParentProcessWatcher"
To prevent some crashes when running in WSL Alpine Linux (see https://github.com/redhat-developer/vscode-java/issues/1711), we need to use `kill -0` instead of `ps -p` in [ParentProcessWatcher](https://github.com/eclipse/lsp4mp/blob/d13833cb6b95fb3955425a7b08b989089024c269/microprofile.ls/org.eclipse.lsp4mp.ls/src/main/java/org/eclipse/lsp4mp/ls/commons/ParentProcessWatcher.java#L91) like in https

[2020-11-30 09:00] angelozerr opened #111 "CodeAction in Java ConfigProperty annotation to generate property in properties file"
I should be nice when we hover ConfigProperty/name and the property is not defined in properties file (microprofile-config.properties, application.properties or application.yaml) to provide a code action with "Configure the property X in microprofile-config.properties):

[code]
Here if we have 2 files microprofile-config.properties and application.properties, we should have 2 code action:

 * `Con

[2020-11-30 09:12] #98 closed

[2020-11-30 18:15] datho7561 commented on #96
I don't think this is valid. This line in the spec seems to suggest it is: https://github.com/eclipse/microprofile-config/blob/master/api/src/main/java/org/eclipse/microprofile/config/inject/ConfigProperty.java#L115, but there are no examples of it being used, and the rest of the documentation seems to imply that it only works for fields. I tried running this in Quarkus, and it doesn't work.

[2020-11-30 20:28] datho7561 commented on #100
Having trouble reproducing, but I found an infinite loop in the parser

[2020-11-30 21:26] datho7561 opened #112 "Trailing tab causes infinite loop in parser"
Add this to `microprofile-config.properties`:

[code]

Add a tab character after `value`, then open completion. The extension will get stuck evaluating the completion.

[2020-12-01 13:46] angelozerr commented on #96
@datho7561 could you check that with Quarkus team in Zulip please. Thanks!

[2020-12-01 16:33] #112 closed

[2020-12-01 19:30] datho7561 commented on #96
After a discussion with radcortez on the Quarkus Zulip, it seems like this is the way that you can use `@ConfigProperty` with methods:

[code]

I checked, and if you reference `my.property` this way, then it gets suggested as a key in `microprofile-config.properties`/`application.properties`.

I also found this, which is a part of the new MicroProfile 4.0 spec: (example taken from https://quarkus.

[2020-12-01 19:50] datho7561 commented on #96
@jeffmaury Just to clarify, were you hoping for `my.property` to appear in `application.properties`, or for completion suggestions for  `@ConfigProperty`'s `name` field?

If its the first case, I wasn't able to get the Quarkus application to run using the `@ConfigProperty` annotation on a method, and radcortez seems to think it will only work if you annotate the parameters of the method instead of

[2020-12-02 17:37] #110 closed

[2020-12-04 16:59] #88 closed

[2020-12-07 15:12] yeekangc opened #119 "NPEs when working with MP 4.0 features"
@Emily-Jiang reported the below when she was working with MP 4.0 APIs:

[code]

[2020-12-07 15:15] fbricon commented on #119
can @Emily-Jiang attach a sample project reproducing the issue?

[2020-12-07 16:36] datho7561 commented on #100
I managed to reproduce it. Here are the steps, do them as soon as the language server starts:
1. use vscode-quarkus
2. use Fred's project
3. delete code connecting postgres in application.properties
4. activate `qds` snippet
5. select `postgres` for database type then tab to next property
6. as the databse username, enter `quarkus=-=`

Logs:
[code]

I think it might be adding an `=-=` that causes

[2020-12-07 16:42] angelozerr commented on #119
According the stack trace it seems the `microprofile-config.properties` generate a property name which is null. I don't know how to reproduce it.

The fix is easy (just to check if the property name is not null) but it should be very nice to write test for this issue.

@Emily-Jiang could you just share your `microprofile-config.properties` which cause this issue please. Thanks!

[2020-12-07 17:04] datho7561 commented on #100
Trying under cpulimit...

[2020-12-07 19:09] datho7561 commented on #100
Okay. This is reproducible reliably:
0. Install vscode-microprofile (`vsce package`, then install from the vsix)
1. Clone Fred's project
2. Run vscode-quarkus in extension debug mode
3. Open the project as a folder workspace
4. If you have opened the project before, clean the Java workspace, and fully relaunch the extension debugging
5. Use `cpulimit` or a similar tool to limit microprofile-ls's a

[2020-12-07 19:15] Emily-Jiang commented on #119
After restaring my vscode, I could not replicate this any more. Feel free to close this and I'll reopen when I get time to recreate this.

[2020-12-07 20:26] yeekangc commented on #119
Please re-open if the issue persists and can be re-created.  Thanks, Emily.

[2020-12-07 20:28] fbricon commented on #119
Let's keep it open until we at least add a null-check to the offending method

[2020-12-07 21:02] datho7561 opened #120 "Move microprofile .vscode folder into org.eclipse.lsp4mp.ls folder"
If you open the `microprofile-ls` folder in VSCode with no files open, the Java extension doesn't automatically start; it won't start until a Java file is opened:

![Screenshot from 2020-12-07 15-55-19](https://user-images.githubusercontent.com/22376627/101404854-35e6a780-38a5-11eb-8bd9-5f2694136ae3.png)

If you open the `org.eclipse.lsp4mp.ls` folder, the Java extension automatically starts:

![S

[2020-12-08 10:20] angelozerr commented on #119
After reading the parser code, I found a usecase:

Add in your properties file this line:

`%=1`

and everything is broken.

According to the code, the property name can be null when:

 * the property key is null (I think it's not possible to have that) -> https://github.com/eclipse/lsp4mp/blob/5c524bd5fa959724d4b31bfe061d025d62e7f423/microprofile.ls/org.eclipse.lsp4mp.ls/src/main/java/org/eclipse

[2020-12-08 10:39] angelozerr commented on #119
Please see my PR https://github.com/eclipse/lsp4mp/pull/121 which will fix this bug.

[2020-12-08 13:19] angelozerr commented on #100
The thing I don't understand is that fred application.properties have no `${` and your usecase have no `${`

My question is why we have a PropertyValueExpression in this case?

[2020-12-08 13:36] datho7561 commented on #100
PropertyValueLiteral is used regardless of if there are `${}` or not. We have this structure in the model:

[code]

this is so that we can read something like this and represent it in the model:

[code]

[2020-12-08 13:42] angelozerr commented on #100
@datho7561 thanks for your clarification, I confused PropertyValueLiteral with PropertyValueExpression. Thanks for the clarification.

[2020-12-08 13:44] datho7561 commented on #100
Can you think of a better name for it? If the name is easy to confuse, we should come up with a better one.

Going to write unit and integration tests to see if I can pinpoint the problem that way.

[2020-12-08 13:45] angelozerr commented on #100
No no the name is perfect! It's my fault, I wrote my comments too quickly, sorry -(

[2020-12-08 21:15] Emily-Jiang commented on #119
Thank you @angelobanse for the inverstigation! I was a bit puzzled on why I hit the reactivemessaging code base as my microservices does not use Reactive Messaging at all. Do you know why?

[2020-12-08 21:25] angelobanse commented on #119
I think you mean @angelozerr 😉

[2020-12-09 08:00] #119 closed

[2020-12-09 08:23] angelozerr commented on #119
The reactivemessaging support is done by tracking some value of properties and properties are computed according to those value. See https://github.com/eclipse/lsp4mp/tree/master/microprofile.ls#managing-complex-properties for more explanation.

In other words, each time you type something, the reactivemessaging compute new properties according toe the value of some property (connector). But I agr

[2020-12-09 08:23] angelozerr opened #122 "Enable Reactive Messaging support on LS side only if need"
See https://github.com/eclipse/lsp4mp/issues/119#issuecomment-741614748

[2020-12-09 19:29] datho7561 commented on #100
I suspect that this issue is related to concurrency, i.e. the code that generates the `CodeAction` has a DOM model of the properties file that is out of sync with the actual properties file. It has been hard to debug.

[2020-12-11 08:48] angelozerr commented on #7
Fixed with https://github.com/eclipse/lsp4mp/pull/123

[2020-12-11 08:48] #7 closed

[2021-01-05 21:15] yeekangc commented on #5
Breaking Changes in MP 4.0 APIs
- Config: https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#_incompatible_changes
- Fault Tolerance: https://download.eclipse.org/microprofile/microprofile-fault-tolerance-3.0/microprofile-fault-tolerance-spec-3.0.html#_backward_incompatible_changes
- Health: https://download.eclipse.org/microprofile/microprofile-hea

[2021-01-05 22:56] Emily-Jiang commented on #5
Thank you @yeekangc for raising this! Please comment on how useful we put on the sections of incompatible changes. lsp4mp is one of the important consumers for this section.

[2021-01-06 10:11] angelozerr commented on #5
@yeekangc thanks for your feedback, I have read quickly the changes but it's little hard to see what LSP4MP could provide to provide the best support for MP 4.0. We should have usecase (ex : refactoring usecase, or deprecated properties in microprofile-config.properties etc) and according to those usecase I could help you to integrate those support (refactoring , decprecated properties, etc).

[2021-01-21 15:22] datho7561 commented on #96
@jeffmaury just want to follow up on this issue. Could you please clarify if you meant using the `@ConfigProperty` on a method or on a parameter of a method? (I think the annotation is not valid on a method). Also, did you mean completion for the annotation field or in the `(application/microprofile-config).properties` file?

[2021-01-21 15:28] jeffmaury commented on #96
My intent is to use the annotation on a setter method and see the property name when editing the application.properties.
Seems this is not the way it is designed

[2021-01-21 15:34] datho7561 commented on #96
Okay. Thanks for the reply. I'm going to close this and mark as invalid. If this functionality gets added to MicroProfile or Quarkus in the future, we would take a look into implementing this.

[2021-01-21 15:36] angelozerr commented on #96
Thanks @jeffmaury for your feedback.

[2021-01-21 15:36] #96 closed

[2021-01-30 19:13] scottkurz opened #128 "https://marketplace.visualstudio.com/items?itemName=redhat.vscode-microprofile"
Not sure if this is an issue with the LSP project or another part of the whole picture, so starting here.

Using v0.1.1 of the extension:  https://marketplace.visualstudio.com/items?itemName=redhat.vscode-microprofile

I'm able to take Java

	@Inject
	@ConfigProperty(name = "flag")
	private boolean flag;

and create an entry in **src/main/resources/META-INF/microprofile-config.properties** like:

[2021-02-01 08:34] angelozerr commented on #128
@scottkurz thanks for reporting this issue. Do you know if there is a specification in MicroProfile for this usecase?

I wonder if:

 * other MP implementation of ConfigProperty like Quarkus have this behaviour.
 * this behaviour is the same for Quarkus properties (which uses ConfigRoot for instance)
 * if `flag=<space>true` is a valid property?

@rzgry have you some idea about that?

@datho7561 c

[2021-03-13 12:01] jeffmaury opened #130 "Missing export for tests to be reused"
Tests cannot be reused (JBoss Tools) because of missing export statements

[2021-03-13 12:06] #130 closed

[2021-03-29 13:46] datho7561 opened #132 "CHANGELOG for 0.2.0"

[2021-03-29 13:46] datho7561 commented on #132
I'd be interested in working on this

[2021-03-31 14:11] #132 closed

[2021-03-31 15:05] datho7561 opened #135 "Quote the release commit message in Release.Jenkinsfile"
https://github.com/eclipse/lsp4mp/blob/master/Release.Jenkinsfile#L63

The message should be in quotes, otherwise git will interpret the release number as a separate parameter from the word "Release"

[2021-04-01 16:42] #135 closed

[2021-04-19 16:36] jeffmaury opened #141 "Hard to follow releases"
Looking at http://download.eclipse.org/lsp4mp/releases/ you can guess there is 0.2.1 release but can't find corresponding tag/commit in source tree
Also I would expect that after a release is pushed I could find a minor/micro in snapshots as, in JBoss Tools, after a GA is released (based on one LSP4MP release), we start the next cycle with a snapshot

[2021-04-20 18:14] datho7561 commented on #141
We need to make sure the tagged commit is attached to the tree (currently the commit that is tagged is detached from the tree).

We should also look into automating the version bump as part of the release pipeline through the GitHub bot. Doing it manually, it can get stuck in review: https://github.com/eclipse/lsp4mp/pull/139.

[2021-04-21 13:32] rgrunber commented on #141
I alias `git tree` to `log --graph --decorate --oneline --abbrev-commit --all` using the aliases entry in my .gitconfig . This allows me to see all commits associated with a branch or tag. I'm not sure if you're just using a git log, but that would always be limited to commits/branches/tags associated with the current branch.

I agree though that the release commits being detached from any branch

[2021-04-21 13:36] jeffmaury commented on #141
Yes I was confused by the GitHub UI so I can see the 0.2.1 tag but I think master/main branch should be updated to 0.2.2 as soon as 0.2.1 is released

[2021-05-19 18:20] datho7561 opened #142 "Billion Laughs"
A variation of https://en.wikipedia.org/wiki/Billion_laughs_attack:

[code]

We should implement checks to avoid expansion after a certain number of times, and of a certain recursive depth (see also #37).

[2021-05-20 18:51] datho7561 commented on #142
This is harder to exploit than in XML. In XML, the vulnerable file could be a remote file, and be referenced through a URI schema reference. If the XML parser is set up to expand entities from remotely located schemas, then the parser could be exploited.

In order for the expansion to happen in lsp4mp, someone needs to download a project with the vulnerable `.properties` file, then open the projec

[2021-06-15 20:17] rgrunber commented on #141
We should be on 0.3.0-SNAPSHOT. Closing for now.

[2021-06-15 20:17] #141 closed

[2021-06-28 15:27] datho7561 opened #143 "Use a lexer in the properties file parser"
Is there any reason lsp4mp doesn't use a [lexer/token scanner](https://en.wikipedia.org/wiki/Lexical_analysis) in the properties file parser?

I think that introducing a lexing step could help to simplify the parser. I believe that its worth investigating, since features like #37 may require increasing the complexity of the parser. Splitting the parser into a parser and lexer could help manage thi

[2021-06-28 15:38] angelozerr commented on #143
At first the properties parser comes from https://github.com/ec4j/ec4j/blob/master/core/src/main/java/org/ec4j/core/parser/EditorConfigParser.java that I had created for editor config.

It follows the same idea than SAX handler. If I understand your idea you would like to rewrite from the parser and use scanner / dom parser like we have for XML Parser in LemMinx.

I think it's a very hard and long

[2021-07-01 12:57] angelozerr opened #146 "@ConfigProperty validation when property is not set"
Given this @ConfigProperty:

[code]
In this case the port property is not set (we can see that with hover).

It should be nice to highlight as an error (warn) that port is not set. It will give the capability:

 * to have an overwiew of several properties which are not set when we open the Java file
 * bind code actions to configure it. See https://github.com/eclipse/lsp4mp/issues/147

[2021-07-01 13:05] angelozerr opened #147 "@ConfigProperty code action when property is not set"
Once https://github.com/eclipse/lsp4mp/issues/146 will be implemented, we could provide several code actions.

Given this @ConfigProperty:

[code]

port will be higlighted as an error, and we could provide the following code actions:

 * `configure in Java `=> it will generate the `, defaultValue="${0}"` attribute
 * `configure in application.properties ` (and other existing properties) => it will

[2021-07-02 15:13] datho7561 commented on #80
FYI https://quarkus.io/version/main/guides/config-mappings#config-properties

[2021-07-02 16:13] #34 closed

[2021-07-06 20:00] datho7561 opened #148 "Exclude the method that's being annotated when showing completion for fallback method"
eg.

[code]

If you trigger completion at the `|`, you shouldn't see `faultTolerant` suggested.

[2021-07-14 14:03] datho7561 opened #150 "Changelog for 0.3.0"

[2021-07-16 04:22] #150 closed

[2021-07-20 15:02] datho7561 commented on #2
Hey Fred. Would you consider this issue complete?

[2021-07-20 15:08] datho7561 opened #154 "Update the patch version number after a successful release in pipeline"
I think that it would be helpful to automate updating the version after a release.

i.e. if the version is x.y.z-SNAPSHOT, and x.y.z is released, update the version to x.y.z+1-SNAPSHOT in the Jenkinsfile, commit this change, then push this commit to the GitHub repository.

[2021-07-20 15:08] rgrunber commented on #2
I think it should be. JDT-LS is available as a p2 repo at http://download.eclipse.org/jdtls/milestones/1.2.0/repository/ and we do use it in the target platform of the lsp4mp OSGi bundles. microprofile.ls available under Nexus at https://repo.eclipse.org/content/repositories/lsp4mp/org/eclipse/lsp4mp/org.eclipse.lsp4mp.ls/ .

[2021-07-21 14:07] rgrunber commented on #90
Relevant document on what is supported for defaultValue : https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/converters.asciidoc .

[2021-07-21 16:59] #2 closed

[2021-07-28 07:22] #90 closed

[2021-07-28 13:23] datho7561 commented on #146
Also make is so that you can ignore the warnings using a glob pattern

[2021-07-28 19:11] rgrunber commented on #148
I wouldn't mind taking this if no one gets to it before me.

Entry point is probably in https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/faulttolerance/java/MicroProfileFaultToleranceCompletionParticipant.java#L82 . We need to compare the potential IMethod (to be included) with the fall back IAnnotation's paren

[2021-07-29 10:22] #148 closed

[2021-08-09 14:46] datho7561 commented on #77
Here is some info to help with implementing this issue:

Here is the current class we use to validate MicroProfile Fault Tolerance annotations: https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/faulttolerance/java/MicroProfileFaultToleranceDiagnosticsParticipant.java

Here is a utils library that we have for hel

[2021-08-09 14:48] AlexXuChen commented on #77
I can work on this issue

[2021-08-10 18:34] datho7561 opened #162 "Do not rebuild list of configuration properties when MicroProfile config sources are updated in the build directory"
Background:
If you have a config source under `src/main/resources`, there will be another copy of the file representing the built application. For instance, in maven, this is usually under `target/classes`. microprofile-jdt uses the property values from this copy of the file in order to generate completion/validation/hover/etc. in Java files.

Currently, there is a listener defined in `MicroProfil

[2021-08-10 18:52] datho7561 opened #163 "Make a SharedSettings class under microprofile-jdt in order to store"
Some settings for lsp4mp need to be accessed in microprofile-jdt. The code would be better structured if these settings were held in a singleton settings object. Make this singleton settings object, and store the existing microprofile-ls settings that are used on the microprofile-jdt side in this settings object.

[2021-08-11 13:45] angelozerr commented on #79
@rzgry could you give me a sample of hover that you would like to have please.

[2021-08-12 08:47] angelozerr commented on #163
The update of settings should trigger validation for Java file too.

[2021-08-12 08:51] #146 closed

[2021-08-12 13:40] datho7561 opened #164 "Add mechanism to cache `IConfigSource`"
Currently, config sources are updated every time you want to access information about the declared property values (see `JDTMicroProfileProject:115`). It would be nice to cache the list of config sources, and update the cached value when a config source has been added or deleted using a resource change listener.

[2021-08-12 15:57] datho7561 opened #165 "Provide validation for fields when a class is annotated by `@ConfigProperties`"
When you annotate a class with `@ConfigProperties`, the fields of the class represent config properties (see #161). It would be nice to provide a warning message on the field name when the config property that the field represents is not assigned a value at build time. This is similar to the validation provided in #146 and expanded upon in #161. However, in that case, the validation is only provid

[2021-08-18 19:48] rgrunber commented on #77
I'm generally ok, with adding the annotation support, but where I'd like to have some automation or generalization is in the validation of the parameters themselves. It seems overkill to have to hard-code specific parameter restrictions. Granted, we've done pretty much the same for #90 & https://github.com/redhat-developer/quarkus-ls/issues/378

I wonder if we could have some general definition fi

[2021-08-18 19:51] rgrunber commented on #58
See https://github.com/eclipse/lsp4mp/issues/77 . "non-empty" seems like the kind of quick and easy support we should aim to support easily, but if it's just no possible we can always end up hard coding as before.

[2021-08-18 19:57] angelozerr commented on #77
I agree with you, we should give the capability to describes validation rules in a metadata file. I think JSON format could be nice because we use already JSON for static properties.

I will work on that as soon as I will finish my tasks.

[2021-08-18 22:51] rzgry commented on #79
For example I was thinking if you had a java file with ConfigProperties

[code]

and those properties are configured in a properties file
[code]

if you hovered over the `@ConfigProperties` annotation we could display the current values of the properties similar to what we currently do for the `@ConfigProperty` annotation.

![](https://user-images.githubusercontent.com/16768710/93605011-32bdd880-f

[2021-08-20 06:55] angelozerr commented on #79
Thanks @rzgry for your clarification.

[2021-08-22 11:14] angelozerr opened #166 "Support microprofile-config-${profile}.properties"
Like we did for Quarkus LS ([support for application-${profile}](https://github.com/redhat-developer/quarkus-ls/pull/411)) we should support `microprofile-config-${profile}.properties`

See https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#_on_config_source_level

[2021-08-23 23:28] rgrunber commented on #146
Not sure if anyone has run into this, but if I have a Quarkus project and annotate some field with `@ConfigProperty(name = "greeting.message")` and I refer to `greeting.message` in `application.properties`, I still get the `microprofile-config(NO_VALUE_ASSIGNED_TO_PROPERTY)` error, even though I'm clearly assigning it. It goes away if I define a defaultValue as expected. It also works as expected

[2021-08-23 23:57] rzgry commented on #166
Is this a duplicate of https://github.com/eclipse/lsp4mp/issues/78 ?

[2021-08-24 06:19] #80 closed

[2021-08-24 06:57] angelozerr commented on #166
Good catch!

[2021-08-24 06:57] #166 closed

[2021-08-24 06:59] angelozerr commented on #146
@rgrunber you need to save the application.properties. Because Java validation is retriggered when application.properties from target (not from sources) is done.

I don't know how to manage text edit and file save with code action.

[2021-08-24 07:01] angelozerr commented on #146
Do you use last version of quarkus ls?

[2021-08-24 13:19] rgrunber commented on #146
D'oh! You're absolutely right. I needed a quarkus-ls development build.

On the plus side, I also noticed that it's possible to test multiple extensions in the development host by supplying an additional :
`"--extensionDevelopmentPath=${workspaceFolder}/../vscode-microprofile"`

[2021-08-26 17:02] AlexXuChen opened #169 "CodeAction for `@Asynchronous` annotation diagnostic"
Given a diagnostic for a Quarkus project containing a method tagged with the `@Asynchronous` annotation(see #168), a CodeAction should be displayed for fixing the method return type, replacing it with one of:
- `java.util.concurrent.Future`
- `java.util.concurrent.CompletionStage`
- `io.smallrye.mutiny.Uni`

[2021-08-26 19:26] AlexXuChen opened #170 "Add setting to permit specific class return types for annotated methods"
From https://github.com/eclipse/lsp4mp/pull/168#discussion_r696891424.

Quarkus allows `io.smallrye.mutiny.Uni` to be added at runtime with an `@Asynchronous` annotation, and so no diagnostic should be thrown when the annotated method returns type `io.smallrye.mutiny.Uni`.

To fix this problem, we should declare a setting ignore error(s) when the return type is included in a list of classes.

Bloc

[2021-08-27 07:40] angelozerr opened #171 "Improve CodeAction performance with CodeAction#data & resolveCodeAction"
See my lemMinx comments https://github.com/eclipse/lemminx/issues/941#issue-759453759

[2021-09-01 09:28] angelozerr commented on #77
Here a proposition for describing the validation rules in a JSON file format:

[code]

For ranges it requires to develop a parser to parse expression (by supporting basic syntax), but I find

[code]

it's more readable than:

[code]

@fbricon @rgrunber @AlexXuChen what do you think about that?

[2021-09-01 11:58] angelozerr commented on #77
For loading the rules file `/annotation-validators/mp-faulttolerance-validator.json`, my idea is to declare it as an extension point in a plugin.xml like this:

[code]

[2021-09-01 14:05] angelozerr commented on #77
After some experimentation, I think I will support this syntax:

[code]

If you have some suggestion, please tell me. Thanks!

[2021-09-02 12:43] angelozerr commented on #77
By continuing to develop this issue, I noticed that we visit the full AST for each diagnostic participant which I think  which could be bad when we will add another diagnostic participant which will visist the AST.

My idea is to have one ASTVisitor which visist the full AST and this visitor should manage the whole collect of diagnostics. I'm working on this idea and my idea isto provide the exten

[2021-09-02 13:28] fbricon commented on #77
Sounds good. But I' feel a bit cagey about using <=> symbols in the constraints. WDYT about using, for 0<x<=10, `<from excludeValue='true'>0<from><to>10</to>`, for >=1  `<greaterThan>1</greaterThan>` ...?

[2021-09-02 14:18] angelozerr commented on #77
Glad it pleases you.

I think it's very verbose compare to just:

[code]

I find it's more natural to write those expression. @rgrunber what do you think?

[2021-09-02 14:25] fbricon commented on #77
there's nothing natural in writing escaped XML (`&lt;`)

[2021-09-02 19:23] angelozerr commented on #77
Indeed escape is awfull.

I like osgi syntax. @fbricon do you like it?

[2021-09-02 22:37] fbricon commented on #77
+1

[2021-09-03 10:18] angelozerr commented on #77
Ok now I'm using OSGI syntax which simplifies dragsticly the write of range:

[code]

see

https://github.com/eclipse/lsp4mp/pull/173/files#diff-7281a15fa555693204939b8aaf950dd76009741a66ad70a8dccbe9f7627eb714R120

Many tahnks @rgrunber for your great suggestion!

[2021-09-07 08:39] angelozerr commented on #74
I reopen the issue because according this test https://github.com/eclipse/microprofile-fault-tolerance/blob/e7a1f982b2a0bae837ae99115e8da5e9c67d230b/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/invalidParameters/AsynchronousClientForValidationClass.java#L30,  it seems that @Asynchronous annotation can be set on the class (not only on the methods) and all methods are considered as

[2021-09-07 15:08] rgrunber commented on #170
@angelozerr , do you know if we could also check the runtime for any additional classes supported in https://github.com/smallrye/smallrye-fault-tolerance/blob/main/implementation/fault-tolerance/src/main/java/io/smallrye/faulttolerance/AsyncTypes.java#L22 (via ServiceLoader) ?

[2021-09-07 16:33] angelozerr commented on #170
you mean with JDT?

[2021-09-07 16:36] rgrunber commented on #170
In the Quarkus runtime itself. I wonder if we can check what other return types are being contributed since it seems it can be extended.

[2021-09-07 16:39] angelozerr commented on #170
It means that we should starts the quarkus application to know that `io.smallrye.mutiny.Uni` is allowed?

[2021-09-08 14:18] angelozerr commented on #170
If it that it means that validation will work only when quarkus application will be started, it's strange no?

[2021-09-08 14:23] fbricon commented on #170
no, the quick n easy check is to verify is Uni is on the project classpath, if yes, allow it.

[2021-09-08 14:27] angelozerr commented on #170
Ok we hard code this class,  but if I create an impl of ReactiveTypeConverter and I regsiter it as SPI, it will not work.

[2021-09-10 07:02] angelozerr opened #176 "Report diagnostic for @ConfigProperty(name="")"
Given a class with @ConfigProperty name attribute is empty:

[code]

The Quarkus application throws this error :

![image](https://user-images.githubusercontent.com/1932211/132813417-69496ae2-1b63-4004-ba56-df257ac40e06.png)

We should report a diagnostic when name="" and it willfix too https://github.com/eclipse/lsp4mp/pull/167#discussion_r705496691

[2021-09-10 13:40] #147 closed

[2021-09-10 17:18] #74 closed

[2021-09-13 16:18] AlexXuChen commented on #170
For this setting, should we add default return types for the Asynchronous annotation specified by fault-tolerance? i.e. Future, CompletionStage, Uni

[2021-09-13 16:41] jeffmaury opened #177 "Deadlock when client is sending burst of request"
In IJ Quarkus, when the IDE starts, if several Java files are opened, we will send a didOpen request for each file. The server will send back a getProjectLabels request for each file and this causes a deadlock. The reason is that each LSP request method should not run in the calling thread because it prevents the server to read the input stream of LSP4J is single thread per connection.

Copied fro

[2021-09-14 07:53] angelozerr commented on #170
I think we should not managed Uni with settings, because it depends on project classpath, we should manage this Unit like JaxRsContext spirit. We could have a FaultToleranceContext which have a list of allowed class type. By default this list is filled with Future and CompletationStage. On Quarkus side we could contribute to this FaultToleranceContext  with Unit class.

[2021-09-14 13:04] AlexXuChen opened #179 "Support the `@ApplicationPath` annotation to handle the project URL"
As per https://github.com/redhat-developer/quarkus-ls/issues/368#issuecomment-718236363:

As an alternative to properties support extension, it is also possible to add support for @ApplicationPath annotation (it is a part for MicroProfile anyway).

[2021-09-15 07:44] #177 closed

[2021-09-16 18:42] AlexXuChen opened #181 "Add diagnostic for multiple classes of type `Application`"
Given two java files in a quarkus project:
- `MyApplication.java`
[code]
- `SecondApplication.java`
[code]
The following error will occur when building the quarkus project:
![Screenshot from 2021-09-15 10-01-14](https://user-images.githubusercontent.com/26389510/133667312-446eb4a6-b6b2-46e5-b32f-84b334b87175.png)

We should have a diagnostic thrown to indicate that more than one `Application` clas

[2021-09-16 18:46] rgrunber commented on #181
One idea for doing this : The Java SearchEngine API should be able to search the entire project and find all type declarations. From there, it should just be a matter of figuring out if the total number of type declarations containing an ApplicationPath annotation is greater than 1.

[2021-09-23 14:09] jeffmaury opened #183 "Microprofile Fault Tolerance completion provider reports current method"
If the Fallback annotation is attached to a method and completion is triggered on the fallbackMethod field then the current method is also part of the proposals

[2021-09-23 14:20] fbricon commented on #183
Duplicate of https://github.com/eclipse/lsp4mp/issues/148

[2021-09-24 08:37] angelozerr commented on #77
I reopen this issue since I have just supported CircuitBreak rules.

@AlexXuChen could you see other cases in https://github.com/eclipse/microprofile-fault-tolerance/tree/5adfe495f0ad1fe8f52a443781b7509b01a92f15/tck/src/main/java/org/eclipse/microprofile/fault/tolerance/tck/invalidParameters

to support that:

 * you must write rules like https://github.com/eclipse/lsp4mp/blob/8531fee6cd5bb2fb6042

[2021-09-27 10:29] jeffmaury opened #186 "Wrong annotation name for MicroProfile Metrics"
The Gauge annotation is referenced using org.eclipse.microprofile.metrics.Gauge where the correct name is org.eclipse.microprofile.metrics.annotation.Gauge

[2021-09-27 12:32] angelozerr commented on #186
I remember that I fixed that. In master the problem is fixed https://github.com/eclipse/lsp4mp/blob/8531fee6cd5bb2fb60429f98d5bb72a432103258/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/metrics/MicroProfileMetricsConstants.java#L26 no?

[2021-09-27 12:35] #186 closed

[2021-09-27 14:43] AlexXuChen opened #188 "SingleMemberAnnotation diagnostics not supported by annotationValidator"
If we define a validator for the `@Timeout` annotation as follows:
[code]
then a range diagnostic will be properly thrown for the following incorrect range:
[code]

However, you can also assign the `value` member without the member name, as follows:
[code]
Currently, the above example cannot be caught by any configuration of the `annotationValidator` tag in `plugin.xml`.

[2021-09-27 20:01] rgrunber commented on #188
Yup, looks like we're missing an edge case :

From  the javadoc :
[code]

So in the validation logic, any single member annotation should have the `name=value` rule apply to it for the corresponding annotation.

[2021-09-28 14:59] #188 closed

[2021-09-28 23:22] #170 closed

[2021-09-28 23:22] AlexXuChen commented on #170
Fixed with https://github.com/eclipse/lsp4mp/pull/173/files#diff-92f5a9dc33e1ae679c0eb58e5d57a973a3df68e1da17ec2ecb624e0bfd24ad5fR95

[2021-09-30 13:44] AlexXuChen commented on #179
I will take this issue

[2021-09-30 14:15] AlexXuChen commented on #176
I can take this

[2021-10-01 19:29] AlexXuChen commented on #77
I believe we can close this issue @angelozerr. Thoughts?

[2021-10-01 19:32] angelozerr commented on #77
yes sure, since your Retry PR has been merged.

[2021-10-01 19:32] #77 closed

[2021-10-01 20:13] #176 closed

[2021-10-04 13:56] angelozerr commented on #78
I reopen the issue, because it misses the `mp.config.profile` support.

[2021-10-05 17:48] jeffmaury opened #194 "JAXRS code lens participant based on method name range"
When generating the code lens, the JAXRS participant is computing the range based on the method name element which may lead to strange behavior for methods that are declared on several lines:

![image](https://user-images.githubusercontent.com/695993/136075251-b288d6e0-0acd-494b-be03-9ea31a0b8bed.png)

So on the IntelliJ implementation, I have used the whole method element to compute the range whi

[2021-10-05 18:08] rgrunber commented on #194
CC'ing @angelozerr . I think it makes sense! getParent() on the ASTNode to get the MethodDeclaration start line instead of the SimpleName ?

In the "method-on-single-line" case, it looks like we placed the codelens above the declaration but below the annotations. Does it make sense to preserve that behaviour ? Does anyone care ?

[2021-10-06 08:28] angelozerr commented on #194
Indeed we should improve that, but...

It should be nice to keep that.

If I have time, I will do it.

[2021-10-06 14:11] angelozerr commented on #78
@rzgry do you know if we can set the profile inside a `microprofile-config.properties` file like this:

`mp.config.profile=dev`

[2021-10-06 20:50] AlexXuChen opened #196 "Support remaining date based ChronoUnit enumerations for `@Retry` annotation"
As per https://github.com/eclipse/lsp4mp/pull/193#issuecomment-934591227:

We use `java.time.Duration` to calculate the difference between effective delay and max duration when passed as member values in the `@Retry` annotation. According to the implementation of `Duration.plus`, any date based `ChronoUnit` enumeration excluding `DAYS` (e.g. `WEEKS`, `MONTHS`, `YEARS`, etc..) will throw an `Unsupp

[2021-10-06 21:11] rgrunber commented on #196
Would this work ?

[code]
[code]

[2021-10-08 11:47] jeffmaury opened #198 "Missing properties for Fault Tolerance"
While working on Quarkus Tools for IJ, I noticed the following properties:

![image](https://user-images.githubusercontent.com/695993/136550388-c73dd04f-1723-46f5-bf0f-89960f7f24b3.png)

The same in VSCode:

![image](https://user-images.githubusercontent.com/695993/136550972-74a33475-8a15-4adb-839e-7119e4d9d361.png)

So I searched for `io.smallrye.faulttolerance.globalThreadPoolSize` in https://gi

[2021-10-11 12:07] jeffmaury opened #199 "MicroProfileMetricsDiagnosticsParticipant difficult to read"
This class is using JDT `IMethod` model but code is referencing instance as `field`.

See https://github.com/eclipse/lsp4mp/blob/5780d0b38d441eb6531e61e7dfa4dde37b9ce68d/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/metrics/java/MicroProfileMetricsDiagnosticsParticipant.java#L113

[2021-10-11 14:50] #199 closed, assigned to nobody

[2021-10-11 15:53] angelozerr opened #201 "Support for default value inside properties expression"
Parser should support the default value for expression to fix https://github.com/redhat-developer/vscode-quarkus/issues/392

I think xe should ignore unkwown error for property expression which define default value.

[2021-10-11 17:48] jamesfalkner commented on #201
works for me!

[2021-10-12 21:56] #196 closed, assigned to nobody

[2021-10-13 14:36] angelozerr opened #204 "Support for composed property expression"
Support `${my.prop${compose}}`

See specification at https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#property-expressions

[2021-10-14 12:30] angelozerr opened #205 "Reference only property declared in *.properties file in property expresion"
After playing with property expression and reading spec at https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#property-expressions it seems that we cannot reference property which comes from @ConfigProperty:

`A default value defined via org.eclipse.microprofile.config.inject.ConfigProperty#defaultValue is not eligible to be expanded since multiple

[2021-10-14 13:02] angelozerr commented on #201
Good catch! There is no expections but we should report an error, because in this case we have:

 * reference property which is empty
 * default value which is `DBUSER::foo`

It's forbidden to have an empty reference property. We should manage a diagnostic for that. I will work on it.

[2021-10-20 13:20] angelozerr opened #207 "Support for set of properties file"
Today completion, validation, definition works inside a given properties file but it should take care of another outside properties file.

# Completion sample:

 * In `.env` file:

`BDUSER=sa`

 * In `microprofile-config.properties` when completion is processed we should see `DBUSER`

# Definition sample:

 * In `.env` file:

`BDUSER=sa`

 * In `microprofile-config.properties` when definition is p

[2021-10-26 14:02] AlexXuChen opened #208 "Move `@ApplicationPath` SearchEngine to JaxRsContext"
Currently, the retrieval of the `@ApplicationPath` value is performed in https://github.com/eclipse/lsp4mp/commit/9e82e2ffaf359a79906c3041c5982fbdb5efa812#diff-5630c5f4fab24c5b8e98d947e78af0b6f69b514a2194763efd1f97d1fa606548R172.

We should move the SearchEngine logic to https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/

[2021-10-29 14:50] #205 closed, assigned to nobody

[2021-11-08 19:22] angelozerr commented on #164
Fixed with https://github.com/eclipse/lsp4mp/pull/180

[2021-11-08 19:22] #164 closed

[2021-11-08 19:26] angelozerr commented on #108
I think more and more than snippet in Java file (for annotations) is a bad idea because it's difficult to provide relevant completion without having performance problem.

I would suggest to remove those snippets (for annotation).

@rgrunber @fbricon @rgrunber what do you think about that?

[2021-11-08 21:45] rgrunber commented on #108
I would be fine with this, but keep in mind we do have other [`snippets`](https://github.com/eclipse/lsp4mp/blob/master/microprofile.ls/org.eclipse.lsp4mp.ls/src/main/resources/org/eclipse/lsp4mp/snippets/mp-restclient.json) for non-annotation use cases. If these would still end up being performance problems then we should investigate adopting the [`completion resolve`](https://microsoft.github.io

[2021-11-16 15:41] #208 closed

[2021-11-24 07:34] jeffmaury opened #212 "Support for Kotlin source files"
Some frameworks (Quarkus,...) supports MicroProfile assets in Kotlin language.
Seems this language is not supported as a source language.
This has been originally reported on the Quarkus side: https://github.com/quarkusio/quarkus/issues/21612

[2021-11-24 15:27] rgrunber commented on #212
This would depend on having some kind of LS support for Kotlin files in order to manipulate them. Either in JDT-LS or a separate language server.

[2021-11-24 17:22] rgrunber commented on #198
The fact that this works when the above snippet is just created in a source file implies this may be an issue with the SearchEngine itself. We don't really distinguish between source/library properties so if it works for sources, it should have worked for libraries.

[2021-11-25 21:38] angelozerr commented on #162
After playing again with application.properties I noticed that a save of java file or a properties file provides 2 computes of properties from JDT side :

 * one with source scope
 * one with source + dependencies scope

It's too bad!

It should:

 * when a Java source file is saved recompute of properties should occur only from java sources.
 * when an application.properties file is saved recompu

[2021-11-25 21:50] rgrunber commented on #162
I think I noticed the same. Given how expensive it is to looks up values across an entire project (with many dependencies), we should limit it to source where possible. As long as a build file is not modified, is it safe to assume the dependencies cannot change (and so no need to recompute library properties) ?

[2021-11-26 00:09] rgrunber commented on #198
You can add a breakpoint at `org.eclipse.jdt.internal.core.search.indexing.AbstractIndexer#addAnnotationTypeReference` and set it as conditional on `document.getPath().contains("DefaultAsyncExecutorProvider")`. No `@ConfigProperty` annotation is ever added, so the search engine will never find one.

<details>
<summary>debug</summary>

[code]
</details>

[2021-11-26 10:10] angelozerr commented on #198
When I copy/paste `io/smallrye/faulttolerance/DefaultAsyncExecutorProvider` in Java sources, it works? Is it a bug coming from Java search engine?

[2021-11-26 18:12] #162 closed

[2021-11-29 15:37] AlexXuChen opened #215 "Definition hover displays properties defined below target property"
As per https://github.com/redhat-developer/quarkus-ls/pull/458#issuecomment-981747909, hovering a property definition usinf `Ctrl + Hover` will display properties defined below the target property.

E.g. if you have an `application.properties` file as follows:
[code]
The definition hover in the java file will display the following:
![Screenshot from 2021-11-29 10-31-55](https://user-images.githubu

[2021-12-01 21:35] AlexXuChen commented on #215
Potential solution here is to remove the definition hover entirely, since there is already a hover tag for java feature participants: https://github.com/eclipse/lsp4mp/blob/bd97344aa464fec51984b6472e766c12972ce084/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/plugin.xml#L87

This would make the definition support purely for the navigation, since `Ctrl + Hover` will already display the hover, as sho

[2021-12-01 21:43] rgrunber commented on #215
Definition hover is useful when the primary hover is used for something like Javadoc. Then, the definition hover can show the actual location. In our case, if someone hovers over a property definition, there is only one thing we could show them, and that's the declaration in the properties file, which means that the definition hover becomes unnecessary.

[2021-12-02 15:07] AlexXuChen commented on #215
Uncommenting https://github.com/eclipse/lsp4mp/blob/bd97344aa464fec51984b6472e766c12972ce084/microprofile.ls/org.eclipse.lsp4mp.ls/src/main/java/org/eclipse/lsp4mp/ls/java/JavaFileTextDocumentService.java#L290
![image](https://user-images.githubusercontent.com/26389510/144447971-e5818c97-0c7d-4397-8b37-f64b98f4e879.png)

[2021-12-02 18:48] rgrunber commented on #198
Filed upstream at https://bugs.eclipse.org/bugs/show_bug.cgi?id=577595 . I would guess some code in the BinaryIndexer maybe skips annotations within constructor parameters, or maybe even any method parameter.

[2022-02-16 11:06] fbricon opened #220 "projectLabels command doesn't support jdt:// URIs"
when trying to get informations from the embedding Qute template of a Quarkus project, a call to projectLabels command returns empty informations. URI looks like

[2022-02-16 14:51] fbricon commented on #220
such URIs can be resolved like https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/JDTUtils.java#L389-L397

[2022-03-18 14:36] rgrunber commented on #181
Also `@ApplicationPath` is only supported on a class that extends `javax.ws.rs.Application`. We should validate that the type declaration satisfies this. Maybe even providing a code action to make the necessary fix.

[2022-03-22 18:52] gian1200 commented on #201
Is this supposed to handle only Strings? It fails with `quarkus.log.level`

![image](https://user-images.githubusercontent.com/405347/159553939-a0bdd61c-4922-4361-b91d-c37cdf2a0452.png)

This appears with Quick Fix:
![image](https://user-images.githubusercontent.com/405347/159554173-1ca44642-8654-46c5-a780-2cf0699ef173.png)

[2022-03-22 20:17] angelozerr commented on #201
@gian1200 which version of vscode quarkus are you using? This feature has not been released

[2022-03-22 20:46] gian1200 commented on #201
The last public one (AFAIK)

Version: 1.9.0

https://marketplace.visualstudio.com/items?itemName=redhat.vscode-quarkus

![image](https://user-images.githubusercontent.com/405347/159572576-27bf24e7-ec63-4812-9e98-34f2b7c1d935.png)

[2022-03-28 08:56] angelozerr commented on #201
@[gian1200](https://github.com/gian1200) I tried with 1.10.0 which has been released and there is the same problem.

Could you create an issue please.

[2022-04-01 15:30] gian1200 opened #225 "Property file with property expressions are flagged as wrong"
### Issue
Property definition is flagged when is assigned an ENV reference with a default value.

It fails with `quarkus.log.level`

![image](https://user-images.githubusercontent.com/405347/159553939-a0bdd61c-4922-4361-b91d-c37cdf2a0452.png)

This appears with Quick Fix:
![image](https://user-images.githubusercontent.com/405347/159554173-1ca44642-8654-46c5-a780-2cf0699ef173.png)

### Extensions v

[2022-04-01 15:31] gian1200 commented on #201
@angelozerr done! https://github.com/eclipse/lsp4mp/issues/225

[2022-04-01 16:15] angelozerr commented on #201
Thanks ! I have started something. Lets continue the discussion in your issueq

[2022-04-01 16:23] angelozerr commented on #225
I can fix the first usecase with default value.

For the second usecase without default value
I dont know how to fix because it requires to find env variable which can be defined with several mean.

The mean that I could manage is to search in the .env file otherwise I dont know how to do that. We already discussion with @fbricon and @rgrunber of this problem and providing à settings to declare en

[2022-04-01 17:18] gian1200 commented on #225
In our scenario we don't use an .env file.
- For running the app in Kubernetes we reference them using `quarkus.kubernetes.env.mapping`. Can the validation also consider those ENV defined at that level?
Something like:
![image](https://user-images.githubusercontent.com/405347/161307809-a72fbcdc-cb89-41b6-ae41-daee6ab462eb.png)

In addition to that, what do you think about flagging those variables

[2022-04-03 16:44] angelozerr commented on #225
@gian1200 see the demo https://github.com/eclipse/lsp4mp/pull/224#issuecomment-1086904693 with the default value support.

Let me study more you suggestion https://github.com/eclipse/lsp4mp/issues/225#issuecomment-1086155352 to give you feedback.

[2022-04-03 16:48] angelozerr commented on #225
You can configure that, indeed there are settings https://github.com/redhat-developer/vscode-microprofile#supported-vs-code-settings  microprofile.tools.validation.*.severity per error code.

[2022-04-04 07:28] angelozerr opened #226 "Display property expression evaluation as inlay hint"
Given this properties file:

[code]

It should be nice to display on the end of the line the evaluation result of prop2 ( [ABCD-EFGH]) as inlay hint:

`prop2 = ${prop1}-EFGH [ABCD-EFGH]`

[2022-04-04 14:55] angelozerr commented on #225
@gian1200 the default value has been fixed, please create a new issue with env variable problem without default value like you described in https://github.com/eclipse/lsp4mp/issues/225#issuecomment-1086155352

[2022-04-04 15:07] angelozerr commented on #226
Yes sure, but it will be inlay value (at the end of the line) and not inlay hint.

Indeed hover does the job, but the idea is to see easily all final value.

[2022-04-05 01:14] gian1200 commented on #225
Yes, that's exactly what I was describing! It even says in the docs that Warning is the default severiy for Unknown Properties. However, it doesn't seems to be working like that. Forcing `"microprofile.tools.validation.unknown.severity":"warning"` in `settings.json` does nothing. To make it work as expected, it looks like `"microprofile.tools.validation.expression.severity": "warning"` and `"micro

[2022-04-05 01:33] gian1200 opened #227 "Property file with property expressions (without default value) are flagged as wrong"
Continuation of https://github.com/eclipse/lsp4mp/issues/225

### Issue
Property definition is flagged when is assigned an ENV reference without a default value.

![image](https://user-images.githubusercontent.com/405347/161295587-f16cc964-66b6-4f94-ac31-406b939edc62.png)

### Extensions version
- VSCode quarkus extension version: 1.10.0
![image](https://user-images.githubusercontent.com/405347/16

[2022-04-05 01:52] gian1200 opened #228 "Setting "warning " on "microprofile.tools.validation.unknown.severity" is ignored"
### Issue

As described in https://github.com/redhat-developer/vscode-microprofile#supported-vs-code-settings, unknown properties should be flagged as Warning by default. However, they are flagged as Error.

Doc:
![image](https://user-images.githubusercontent.com/405347/161657119-9fb78818-6de1-499f-86fa-c85cf37f530f.png)

VSCode:
![image](https://user-images.githubusercontent.com/405347/161663109-

[2022-04-05 20:08] angelozerr commented on #225
@gian1200 if you go to https://github.com/redhat-developer/vscode-microprofile#contributing you have à link to download last vsix. You can download and install it. You should have the feature of this issue.

[2022-04-07 18:46] yeekangc opened #229 "Add support for jakarta namespace"
MP 5 supports jakarta namespace aligning with Jakarta EE 9/9.1.  The LS should support the use of packages with the jakarta namespace.

Cc @kathrynkodama

[2022-04-18 16:38] angelozerr commented on #229
Is it possible to explain more which support you wish to have with a sample please.

[2022-04-20 08:24] jeffmaury opened #230 "plugin.xml not part of the test bundle"
That causes issues for reusing tests

[2022-04-20 09:24] #230 closed

[2022-05-02 11:38] jeffmaury opened #232 "ASTValidator uses IDE classpath instead of project classpath"
See https://github.com/eclipse/lsp4mp/blob/f54b7355be2797ec8843e7d106cb4af0296a2ba6/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/config/java/MicroProfileConfigASTValidator.java#L248

[2022-05-02 14:38] rgrunber commented on #232
Right. Using the project classpath would likely require us to look very closely at the performance, as we'd essentially be querying the index for the value.

We likely want to do [`JDTTypeUtils.findType(IJavaProject, String)`](https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/core/utils/JDTTypeUtils.java#L43)

[2022-05-02 15:49] rgrunber commented on #63
`ImportRewrite` has API to do this, and entry point would be right in [`ReplaceAnnotationProposal`](https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/core/java/corrections/proposal/ReplaceAnnotationProposal.java).

I would probably just confirm that `@RequestScoped` should only be used on the primary type of the compilat

[2022-05-04 08:05] jeffmaury opened #233 "MicroProfileConfigASTValidator may use prefix from annotation which is not @ConfigProperties"
https://github.com/eclipse/lsp4mp/blob/f54b7355be2797ec8843e7d106cb4af0296a2ba6/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/config/java/MicroProfileConfigASTValidator.java#L109

[2022-05-04 15:15] angelozerr commented on #233
Yes I think so.

[2022-05-05 06:10] jeffmaury opened #234 "javaASTValidator schema refers to the wrong interface name"
https://github.com/eclipse/lsp4mp/blob/f54b7355be2797ec8843e7d106cb4af0296a2ba6/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/schema/javaASTValidators.exsd#L64

[2022-05-06 14:57] jeffmaury opened #235 "Invalid value in Retry annotation may lead to ClassCastException"
This code is making the assumption that user entered an integer value but if he entered something else that would lead to ClassCastException

https://github.com/eclipse/lsp4mp/blob/f54b7355be2797ec8843e7d106cb4af0296a2ba6/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/faulttolerance/java/MicroProfileFaultToleranceASTValidator.java#L287

[2022-05-06 16:27] rgrunber commented on #235
[code]

[2022-05-07 15:42] jeffmaury opened #236 "Rename profile parameter to ordinal for better readability"
https://github.com/eclipse/lsp4mp/blob/f54b7355be2797ec8843e7d106cb4af0296a2ba6/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/core/project/PropertiesConfigSource.java#L42

[2022-05-09 14:46] rgrunber commented on #236
Definitely a confusing typo given that there is already a `String profile` field in the base type.

[2022-05-09 20:43] rgrunber opened #237 "projectInfo computation can block completion request"
If a properties file is opened and completion is immediately triggered, it will block until `microprofile/projectInfo` completes. It needs the data from projectInfo but the delay can be annoying, especially when completion shouldn't appear to be slow.

[code]

This issue feels familiar so at the very least I think we have discussed it before. Did we ever consider trying to compute projectInfo in t

[2022-05-10 15:44] angelozerr commented on #229
Ok I see, thanks @kathrynkodama for your feedback. Any contribution are welcome :)

[2022-05-10 16:12] kathrynkodama opened #238 "Update quarkus-spring-web so that it is not vulnerable to CVE-2022-22965"
In the org.eclipse.lsp4mp.jdt.tests component, quarkus-spring-web is currently relying on quarkus platform version `1.3.2.Final`.
https://github.com/eclipse/lsp4mp/blob/9789a1a996811fade43029605c014c7825e8f1da/microprofile.jdt/org.eclipse.lsp4mp.jdt.test/projects/maven/all-quarkus-extensions/pom.xml#L123-L127
https://github.com/eclipse/lsp4mp/blob/9789a1a996811fade43029605c014c7825e8f1da/microprof

[2022-05-11 08:36] jeffmaury opened #239 "PropertyReplacerStrategy is in wrong package"
It is in org.eclipse.lsp4mp.commons that is shared between JDT and LS but this class is not present in LS

https://github.com/eclipse/lsp4mp/blob/f54b7355be2797ec8843e7d106cb4af0296a2ba6/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/commons/PropertyReplacerStrategy.java#L1

[2022-05-11 15:03] rgrunber commented on #238
If we can update the test dependencies to a better version, that seems good to me. I think 2.9.0 is very reasonable given we test on https://github.com/quarkusio/quarkus-quickstarts routinely as well. @angelozerr , does that seem ok to you ?

[2022-05-12 21:40] #238 closed

[2022-05-18 09:36] jeffmaury opened #241 "Property evaluation should support the env variable notation"
Originally posted in https://github.com/redhat-developer/intellij-quarkus/issues/472

When evaluating property value the notation ${ENVNAME:default} should be supported.

This breaks the JAX-RS codelens

[2022-05-19 15:55] AlexXuChen commented on #228
When trying to recreate this issue, it seems that the severity settings is configured properly on my side:
![Peek 2022-05-19 11-54](https://user-images.githubusercontent.com/26389510/169344381-7773ff2d-8b19-4465-879d-da35ca97c0e9.gif)
I configured these settings at the user level. Could you give me more detail on where you configured these severity settings?

[2022-05-19 17:13] gian1200 commented on #228
I tested the changes using the UI and editing the json file.

Interesting, I just restested it and I got the same result you did on your gif (I'm on a different machine as to when I initially reported it, but same version of most things, except VSCode).

Just to be clear `Unknown referenced property` alert is not handled by `microprofile.tools.validation.unknown.severity`, right? (maybe I was conf

[2022-05-19 18:23] AlexXuChen commented on #228
Indeed, I believe there should be a differentiation in diagnostic message between `microprofile(unknown)` and `microprofile(expression)`. Thanks for bringing that to light!

Yes, we handle `microprofile(unknown)` and `microprofile(expression)` separately.

[2022-05-25 17:06] #236 closed

[2022-05-26 14:01] AlexXuChen commented on #228
Should be improved in https://github.com/eclipse/lsp4mp/pull/242

[2022-06-02 15:25] AlexXuChen commented on #228
Should be fixed in #247

[2022-06-06 22:16] #227 closed

[2022-06-07 08:39] angelozerr commented on #226
@rgrunber given this sample (coming fromhttps://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/property-expressions.asciidoc#property-expressions):

[code]

I think it should be nice to display inlay value like this:

[code]

it should be nice to display inlay value like this:

[code]

We could even bind a command to click on the inlay value to open the http url.

Given

[2022-06-07 17:45] rgrunber commented on #237
Yes, I think that would be better. If there's a way to check whether projectInfo has finished loading and base the completion response on that.

[2022-06-08 06:30] angelozerr commented on #228
@AlexXuChen I tink we can close this issue?

[2022-06-08 08:06] angelozerr commented on #239
I will move this class in `org.eclipse.lsp4mp.jdt.core.java` package.

Please note that Quarkus JDT should be updated too with the new package https://github.com/redhat-developer/quarkus-ls/search?q=PropertyReplacerStrategy

[2022-06-08 14:55] datho7561 commented on #241
I'd be interested in looking at this issue

[2022-06-09 07:32] jeffmaury opened #249 "AnnotationAtttributeRule may fail on attribute values"
https://github.com/eclipse/lsp4mp/blob/2d7c54fb9c04d640bc778d51bac0300be970fb33/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/core/java/validators/annotations/AnnotationAttributeRule.java#L87

This class is parsing the attribute value as a double. But the value maybe 123L or 2 * 3 or 1_000_000 which would cause an exception.

See https://github.com/redh

[2022-06-09 07:41] angelozerr commented on #249
@JessicaJHee do you think you could take care of this issue?

[2022-06-09 13:27] angelozerr commented on #228
This issue should now fixed.

[2022-06-09 13:27] #228 closed

[2022-06-09 19:30] JessicaJHee commented on #249
Yes sounds good!

[2022-06-14 08:02] #234 closed

[2022-06-15 21:06] datho7561 commented on #142
In https://github.com/eclipse/lsp4mp/commit/1d0377596b08e453c609bf5d0a0451af553a1e32, I added code that will stop calculating the resolved value when the user cancels the request related to getting the resolved value (eg. stops hovering `lulz`). This can help improve performance in some (but not all) scenarios when interacting with the vulnerable file.

[2022-06-16 07:51] angelozerr opened #254 "Move to LSP4j 0.14.0"
Like we did for LemMinx with LSP4J 0.13.0 https://github.com/eclipse/lemminx/pull/1205/files

It seems now last version of LSP4J is 0.14, so we need to change it for Quarks LS and Lemminx too.

[2022-06-16 14:25] angelozerr opened #255 "Empty completion when completion is triggered before the assign `=`"
Given this microprofile-config.properties:

`%dev.=`

If you trigger the completion after `.`

`%dev.|=`

Completion is empty although it should be filled with the all available propeties.

There is the same problem with

`|=`

or

`quarkus.|=`

or

`quark|=`

[2022-06-16 16:12] datho7561 opened #257 "Copy over `ModelTextDocuments#computeModelAsyncCompose` from quarkus-ls into commons package"
See https://github.com/redhat-developer/quarkus-ls/pull/659/files?w=1#diff-8ffdd77369ed4ef0561d74cd65bfffd95327217e65143805720c33a137b991dd

This helper method is very helpful when implementing the `TextDocumentService` for an lsp4j-based language server, so it makes sense to include in the commons package.

[2022-06-17 17:38] #233 closed

[2022-06-20 14:15] #254 closed

[2022-06-22 18:09] rgrunber commented on #249
Ran into this exact error when checking the standard error logs.

[code]

The root cause of this is arguably not on the line mentioned above, but a few calls before that.

[2022-06-24 16:18] #235 closed

[2022-06-30 14:50] #255 closed

[2022-06-30 15:06] JessicaJHee opened #264 "Completing property name with existing value will replace current value with default value"
![Peek 2022-06-30 11-03](https://user-images.githubusercontent.com/73968480/176711342-e611b522-da8b-4c26-b5aa-d5188dade000.gif)

Completing the property name should not change the existing value of the property.

[2022-07-04 15:18] datho7561 opened #265 "Hovering property value fails with NPE"
Hovering a property value in a properties file fails due to an NPE:

[code]

To reproduce this issue, create a MicroProfile project with a String config property "asdf" and a `microprofile-config.proeprties` file. In the properties file, add the following:

`asdf=hjkl`

Hover over `hjkl` and an error will be logged

[2022-07-04 15:30] datho7561 commented on #265
1d03775 introduced this bug

[2022-07-04 15:58] JessicaJHee opened #266 "application.properties fails to load on start up"
When opening a project (ex: config-quickstart), there is the following request failure after opening the application.properties file.

[code]

[2022-07-04 16:27] angelozerr commented on #266
@JessicaJHee is it a new bug?

[2022-07-04 16:33] rgrunber commented on #266
I see it as well on latest versions of the language server :

[code]

[2022-07-04 16:35] rgrunber commented on #266
Ah, this is happening in JDT-LS :

[code]

[2022-07-04 16:37] rgrunber commented on #266
Please see the following change I had to make https://github.com/eclipse/eclipse.jdt.ls/commit/d2579803f384a0ea673a39dd2d0f224050e80db4 . The target platform for lsp4mp should also be updated so that this change is visible as a compilation error.

[2022-07-04 18:01] #249 closed

[2022-07-04 18:06] #232 closed

[2022-07-04 18:53] #266 closed

[2022-07-04 19:08] rgrunber commented on #266
Should be resolved now. Need to JAVA_HOME is set to a JDK >= 17 or else it will still fail. Some inconsistent tests that may need to be fixed also.

[2022-07-07 15:14] datho7561 commented on #265
I can't reproduce this error reliably

[2022-07-07 19:45] rgrunber commented on #265
Yup,

[code]

Happens for me pretty consistently though.

[2022-07-08 12:57] #265 closed

[2022-07-12 15:00] datho7561 opened #272 "Language Server attempts to calculate CodeAction for stale diagnostics"
In https://github.com/eclipse/lsp4mp/commit/1d0377596b08e453c609bf5d0a0451af553a1e32, we delay revalidating a file, which means that we delay pushing new diagnostics until the user stops modifying the document, leaving stale diagnostics in the document.

However, according to the LSP, https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#codeActionContext, the

[2022-07-12 22:16] rgrunber commented on #272
CC'ing @testforstephen here for awareness. Basically, we discovered a bug for LSP4MP where code actions use stale diagnostics.

I was able to reproduce this in JDT-LS also but I'm not aware of this causing major problems. I think this is because even though the diagnostic is stale, in most cases we only extract the problem ID (defined by JDT Core) and so any code actions returned are never used as

[2022-07-14 14:00] #272 closed

[2022-07-19 21:08] datho7561 commented on #100
Maybe this was related to #272. I will try to reproduce this bug to see if it got fixed.

[2022-07-19 21:32] rgrunber commented on #100
Yes! I don't think I ever posted the stacktrace, because once we found the problem, it seemed pointless, but here is the original stacktrace I sent from that issue :

[code]

Feel free to close this.

[2022-07-20 15:20] #100 closed

[2022-07-20 15:21] datho7561 commented on #100
Closed by #273

[2022-07-21 13:24] #215 closed

[2022-07-26 08:33] jeffmaury opened #278 "Align with LSP4MP 0.5.0 and quarkus-ls 0.12.1"

[2022-07-26 09:02] #278 closed

[2022-07-27 17:20] #120 closed

[2022-08-10 08:50] angelozerr opened #281 "Remove Java snippets (for annotation)."
As Java snippets doesn't take care of completion offset, those snippets are displayed anywhere and it can be very annoying
https://plugins.jetbrains.com/plugin/13234-quarkus-tools/reviews#review=47106

We have 2 kinds of Java snippets:

 * snippets to generate full class with import, class, body, methods, etc. I think we could display them only if Java file is empty. See sample at https://github.c

[2022-08-10 13:13] datho7561 commented on #281
The completion options for annotations provided by JDT-LS also don't take context into account (i.e. I can add a `@Fallback` annotation within a method). From what I can tell, regular Eclipse with JDT doesn't provide completion proposals for annotations (maybe there is a setting I missed though).

The benefit of the snippets provided by lsp4mp is that they add all the expected parameters to the an

[2022-08-10 15:57] rgrunber commented on #281
I agree with @datho7561 here. One thing I liked about the annotation snippets, was that they automatically generate the necessary parameters, and allow you to cycle through them.

[2022-08-10 16:36] angelozerr commented on #281
OK thanks for your feedback guys. Perhaps we should provide a settings to disable those snippets because some user complain about that in IJ.

[2022-08-10 16:37] angelozerr commented on #281
@jeffmaury what do you think about the settings which disable snippets completion?

[2022-08-10 16:43] jeffmaury commented on #281
I don't think this review is relevant anymore

[2022-08-10 17:37] mezarin opened #282 "Snippet variable not replaced with actual value"
We have an Eclipse IDE client implementation making use of lsp4mp. When using the completion/snippet action, the [spec](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#snippet_syntax) defined set of “default” variables (i.e. TM_FILENAME_BASE) used  by the lsp4mp provided snippets  are not replaced with actual values.

For example, if I press Ctrl + space

[2022-08-10 19:44] rgrunber commented on #282
According to https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#completionClientCapabilities .
[code]

which is sent as part of the client's `initialize()` request to the server. That would indicate the client must inform the server whether it supports snippets.

Here's what I see as a sample interaction on the vscode-microprofile side :

[code]

[code]
If

[2022-08-11 01:29] angelozerr commented on #282
Perhaps it is a bug with LSP4E. The code which support TM_FILENAME_BASE is here https://github.com/eclipse/lsp4e/blob/8cacdfd4a48ebdb450d678c33dfb20556c330221/org.eclipse.lsp4e/src/org/eclipse/lsp4e/operations/completion/LSCompletionProposal.java#L634

and getVariableValue is called only at https://github.com/eclipse/lsp4e/blob/8cacdfd4a48ebdb450d678c33dfb20556c330221/org.eclipse.lsp4e/src/org/ecl

[2022-08-11 13:04] mezarin commented on #282
@rgrunber @angelozerr, thanks for the quick responses. Things are a bit clearer now. I will open an lsp4e repo issue.

[2022-08-11 13:19] #282 closed

[2022-08-16 14:15] #257 closed

[2022-08-25 20:05] datho7561 opened #285 "Show value of property when hovering key even when it isn't recognized"
Say we have a `microprofile-config.properties` file:

[code]

If the property `asdf` were defined somewhere in the application with `@ConfigProperty`, you can hover over the `asdf` before the `=`, and it will show the final resolved value. However, this is not supported for properties that aren't defined in the application. I think it could be helpful to show the final resolved value in these case

[2022-08-29 20:47] #226 closed

[2022-08-30 14:28] #241 closed

[2022-08-31 04:58] angelozerr commented on #101
Fixed with https://github.com/eclipse/lsp4mp/pull/283

[2022-08-31 04:58] #101 closed

[2022-09-06 08:56] jeffmaury opened #286 "JDT.LS dependency on tests should be optional"
As we reuse them in jbosstools-quarkus and we want to remove JDT.LS from our TP as it is incompatible with the Eclipse JDT

[2022-09-06 09:37] #286 closed

[2022-09-16 14:20] kathrynkodama opened #289 "Support for the config_ordinal property in microprofile-config.properties"
The `config_ordinal` is flagged as an "unknown property":
<img width="739" alt="image" src="https://user-images.githubusercontent.com/26146482/190660799-28076b8f-261b-4d7c-9774-615342eaa973.png">
but defined in the spec: https://download.eclipse.org/microprofile/microprofile-config-1.4/microprofile-config-spec.html#_manually_defining_the_ordinal_of_a_built_in_configsource

[2022-09-16 14:45] scottkurz opened #290 ""Unknown property" maybe should be described as "unused"?"
**EDIT:**  I updated this after seeing #289 opened to avoid duplication and only cover what's left of my original issue:

## unused vs. unknown

I think the "unused" adjective might be a better description than "unknown".

My first reaction is: "what do you mean it's unknown?   I'm telling you this is the value."  :)

OTOH, in Eclipse or VSCode, if I just declare a local variable 'x' without refer

[2022-09-16 14:59] rgrunber commented on #289
The property certainly works for me on a simple project if I try to override the ordinals at https://quarkus.io/guides/config-reference#configuration-sources . Maybe we just need to add it as a static property.

[2022-09-16 15:28] rgrunber commented on #290
I think "unknown" was meant in the sense that it is unknown to the framework, and won't do anything unless it is used. Maybe we need the message to be a combination of both.

@angelozerr thoughts ?

[2022-09-16 18:35] angelozerr commented on #290
I used unkwonw because it is unkwonw for microprofile or quarkus framework.

But if yiu think it is better to change with unused we can change that.

@fbricon what do you think about that?

[2022-09-16 19:29] angelozerr commented on #289
Indeed it is the idea but we need to provide it according the version of the MP.

[2022-09-19 15:38] datho7561 opened #291 "Build failure due to missing eclipse.jdt.ls target file"
When I try to build/test the latest commit, I get an error saying:

[code]

It looks like the target file we referenced doesn't exist anymore; when I go to the url listed in the logs, I get a 404. I think this is because snapshot builds are eventually deleted.

[2022-09-19 19:51] #291 closed

[2022-09-21 06:49] angelozerr commented on #207
When Set of properties files will be implemented, it will open the door to fix https://github.com/redhat-developer/vscode-quarkus/issues/192

[2022-09-21 13:54] datho7561 commented on #285
I'm interested in working on this

[2022-09-21 14:10] JessicaJHee commented on #58
I'm interested in working on this issue!

[2022-09-21 14:10] JessicaJHee commented on #58
I'm interested in working on this issue!

[2022-10-03 15:24] rgrunber opened #295 "ClassCastException thrown (and caught) when using invalid @ConfigProperty defaultValue"
- Provide something like : `@ConfigProperty(name = "greeting.suffix", defaultValue = 1213)`

https://github.com/eclipse/lsp4mp/blob/b8c6d0651ae7c59f137a59a240fde3f40874a2ca/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/config/java/MicroProfileConfigASTValidator.java#L166

`defaultValueExpr` may not necessarily be a `StringLiteral`. The error is caught a

[2022-10-03 15:25] datho7561 commented on #295
Is it in the eclipse.jdt.ls logs anywhere?

[2022-10-03 15:41] datho7561 commented on #295
eclipse.jdt.ls/JDT has it's own logging system, right? Maybe we need to use that one instead of java.util.logging

[2022-10-03 17:01] rgrunber commented on #295
Maybe @JessicaJHee , could take this, since she ran into a similar case for https://github.com/eclipse/lsp4mp/pull/294#discussion_r986024759

[2022-10-03 19:35] #58 closed

[2022-10-04 14:13] #295 closed

[2022-10-04 15:32] datho7561 opened #297 "Use `JavadocContentAccess2` for better Markdown hover documentation"
eclipse.jdt.ls makes use of `JavadocContentAccess2` to provide its Markdown-formatted hover documentation ([here is its use in the hover implementation](https://github.com/eclipse/eclipse.jdt.ls/blob/c15fe895fdc3eaca1386ff1cebde36f3af63f733/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/HoverInfoProvider.java#L311)). It would be nice to use the same method in JDTUtilsLSImpl.

[2022-10-05 07:42] #285 closed

[2022-10-19 08:48] #171 closed

[2022-10-19 09:56] jeffmaury opened #301 "Java source code not validated upon start"
I noticed that Java source files are not validated when the file is opened.
Seems to be initialization related as if works correctly if you close and reopen the file

[2022-10-20 06:50] jeffmaury opened #303 "NoValueAssignedToPropertyQuickFix insert property with wrong name"
When a defined property is not assigned, this fix allows to insert the property assignment in a property file.
But if this property is part of a group (ConfigProperties) then the quickfix will not use the group prefix but only the property name.

See https://github.com/eclipse/lsp4mp/blob/master/microprofile.jdt/org.eclipse.lsp4mp.jdt.test/projects/maven/config-quickstart/src/main/java/org/acme/co

[2022-10-21 15:16] #289 closed

[2022-10-24 17:28] jeffmaury opened #304 "MicroProfileConfigASTValidator handles @ConfigProperties in a wrong way"
`MicroProfileConfigASTValidator` tries to locate `@ConfigProperties` but it uses only the simple class name and not the fully qualified class name.
As a result, it also works for Quarkus `@ConfigProperties` but it should located into the Quarkus specific part and it may wrongly process `@ConfigProperties` annotations from other packages.

[2022-10-24 19:53] rgrunber commented on #304
When I look at https://github.com/eclipse/lsp4mp/blob/8ccfef8087a3279bcb15cf92f9d093e861dd4d19/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/config/java/MicroProfileConfigASTValidator.java#L109 it's using https://github.com/eclipse/lsp4mp/blob/8ccfef8087a3279bcb15cf92f9d093e861dd4d19/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse

[2022-10-25 06:35] jeffmaury commented on #304
Yes agree but if you go into `isMatchAnnotation` you will find that the annotation type name is ConfigProperties and not the fully qualified name
See my Eclipse debugging session:

![image](https://user-images.githubusercontent.com/695993/197699849-df9922b0-2a65-45ce-8cd1-836491d21acd.png)

[2022-10-25 13:28] rgrunber commented on #304
Interesting, so immediately above that is line 186, which is `AnnotationUtils.isMatchAnnotation(..)`

https://github.com/eclipse/lsp4mp/blob/8ccfef8087a3279bcb15cf92f9d093e861dd4d19/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/core/utils/AnnotationUtils.java#L186

So `annotation.getTypeName().getFullyQualifiedName()` is not returning the fully qualified name. I

[2022-10-25 13:43] jeffmaury commented on #304
Yes because `getTypeName()` returns a SimpleName probably because the annotation is referenced through `@ConfigProperties` and not the FQCN

[2022-10-27 14:48] datho7561 opened #305 "Snippets `description` should allow Markdown"
It would be nice if the `description` field of snippets supported displaying Markdown. This could be helpful for providing links to documentation relevant to the snippet.

[2022-11-01 17:20] datho7561 commented on #194
@JessicaJHee What do you think about this issue? If you are interested and are looking for an issue that won't take too long, I think it could be good. If you're not interested, I could also take a look into implementing it.

[2022-11-02 16:37] fbricon commented on #94
codelenses are only shown on GET requests because they're the only types of requests that make sense to provide a hyperlink to

[2022-11-02 16:51] rgrunber commented on #94
I think we can have it show up, just that we need to make it non-clickable. https://github.com/eclipse/lsp4mp/issues/94#issuecomment-709888177 mentions there is a way to do that.

[2022-11-07 17:13] #44 closed

[2022-11-08 21:28] #304 closed

[2022-11-08 21:41] datho7561 commented on #304
I created https://github.com/redhat-developer/quarkus-ls/issues/759 to talk/fix this. Maybe the right solution is not validating the Quarkus `@ConfigProperties` at all, but either way, we should remove the tests in lsp4mp that reference it.

[2022-11-09 21:38] datho7561 opened #312 "`config_ordinal` appears as a property even in non-MicroProfile projects"
To reproduce (I used vscode-microprofile:)

1. Open a non-MicroProfile project (I used eclipse/lemminx) that has a `.properties` file (any `.properties` file not necessarily a MicroProfile one).
2. Get your editor to detect that the the `.properties` file is a MicroProfile config file so that the language server activates.
3. Open completion at the beginning of a blank line
4. You should get `conf

[2022-11-09 21:45] rgrunber commented on #312
I think originally when I reviewed this change, I allowed @JessicaJHee to have it enabled all the time. Maybe we could use the new `typeOnClasspath` attribute to check that a class is actually on the classpath.

[2022-11-10 18:17] datho7561 commented on #229
Another part of this issue, which I've start to look at in https://github.com/eclipse/lsp4mp/pull/313, is making sure that the CodeLens for JAX-RS and RestClient appear in cases where `Path` and `GET` are imported using the jakarta namespace.

[2022-11-15 10:39] jeffmaury opened #314 "MicroProfileHealthDiagnosticsParticipant incompatible with MicroProfile Health 3.0 and later"
https://github.com/eclipse/lsp4mp/blob/2d7d129f545151f123ff935893a0853959164d34/microprofile.jdt/org.eclipse.lsp4mp.jdt.core/src/main/java/org/eclipse/lsp4mp/jdt/internal/health/java/MicroProfileHealthDiagnosticsParticipant.java#L75

[2022-11-15 16:20] rgrunber opened #315 "AIOOBE in some code lens participants"
I see `QuarkusJaxRsCodeLensParticipant`, but also `MicroProfileRestClientCodeLensParticipant` in the stacktrace. I noticed this just on project import in the JDT-LS stderr logs. I was using the rest-json-quickstart project from quarkus-quickstarts.

<details>
<summary>stacktrace</summary>

[code]
</details>

[2022-11-15 16:22] #94 closed

[2022-11-15 16:48] rgrunber commented on #314
Yup, https://download.eclipse.org/microprofile/microprofile-health-3.0/microprofile-health-spec-3.0.html#_different_kinds_of_health_checks , should be easy to either check any of the 3 (Health, Readiness, Liveness), or the HealthCheck type.

[2022-11-15 17:07] jeffmaury commented on #314
`Health` should not be used because it has been removed, that's the point

[2022-11-15 17:12] rgrunber commented on #314
If we don't need to maintain any compatibility for 2.0, then yes, we can just remove that.

[2022-11-15 17:15] jeffmaury commented on #314
We need to support 2.0 as well as 3.0 but this can be achieved by using `Liveness`, `Readiness` or `HeathCheck` rather than a deprecated annotation type to detect MicroProfile Health for the project.

[2022-11-16 19:54] #194 closed

[2022-11-16 21:04] #314 closed

[2022-11-18 20:45] datho7561 commented on #315
I can't seem to reproduce the exception, but I think I know what will fix it given the code.

[2022-11-18 21:49] datho7561 commented on #297
I tried it, and realized JavadocContentAccess2 doesn't render `{@link package.of.some.ClassFoo}` as either a monospaced font or a link, so for now it seems like it's more of a tradeoff. Since JDT-LS uses JavadocContentAccess2, I think it makes sense to switch.

[2022-11-21 18:34] #315 closed

[2022-11-22 16:07] kathrynkodama opened #320 "Snippets using Java EE 8 when project is using Jakarta EE9+"
For example, the `mpreadiness` snippet will be filtered on the context `org.eclipse.microprofile.health.Readiness` but there isn't additional filtering to check the EE version. So if I am using EE9, the jaxrs namespace will still be inserted via the snippet even though my project is using EE9 with the jakarta.x namespace.

<img width="1373" alt="image" src="https://user-images.githubusercontent.co

[2022-11-22 16:57] datho7561 opened #321 "Show config property documentation when hovering over the key in a properties file"
eg. let's say you have `MyClass.java`, which receives an injected configuration property:

[code]

Also, you have a properties file:

[code]

If you hover over `my.value` in the properties file, it would be nice to show the Javadoc on the `int value` member of `MyClass`.

[2022-11-22 19:29] gkwan-ibm opened #322 "Should not insert the whole proposed class code at the current cursor location"
For the `mpnrc`, `mpliveness`, `mpreadiness`, or other proposals,  they should not simply insert the whole proposed class code to the file. It causes many complication errors. It should either replace the whole file or only propose when the file is empty. Similar as the `new_class` proposal in an empty file, press Ctrl+Space twice or three times to get following:

<img width="671" alt="Screen Shot

[2022-11-22 19:39] gkwan-ibm opened #323 "The proposal description is not clear"
The proposal description is not clear, e.g.

1. do not know where the annotation from. Suggest to indicate which MP / Jakarta EE feature. See following example that tells which JUnit
    -  ![Screen Shot 2022-11-16 at 8 36 15 AM](https://user-images.githubusercontent.com/29576299/203405099-72969e45-77af-4025-9789-61cccc52b351.png)

2. should tell to apply on method, class, variable, or …
3. descri

[2022-11-22 19:45] gkwan-ibm opened #324 "When apply @APIResponses, get xml strange pop up"
when apply `@APIResponses`, `@Parameters`, `@Schema`, and …, get following:

![Screen Shot 2022-11-16 at 12 34 25 PM](https://user-images.githubusercontent.com/29576299/203407130-717c65f5-a5cd-4d4b-9b41-739570f7da3a.png)

[2022-11-22 19:58] rgrunber commented on #322
Seems similar to https://github.com/eclipse/lsp4mp/issues/108 .

[2022-11-22 20:03] gkwan-ibm opened #325 "mpirc generates {2:client} that is strange"
The `mpirc` proposal generates `{2:client}` that is strange

[code]

[2022-11-22 23:21] #297 closed

[2022-11-23 01:31] rgrunber commented on #324
This is what I see returned by LSP4MP as a completion item :

[code]

I don't think we add the XML content anywhere, because we produce markdown content. Is it possible Eclipse is generating the HTML content ? If I remember correctly, the hover is based on some kind of web page render.

[2022-11-23 08:08] angelozerr commented on #324
@gkwan-ibm  it is an issue for lsp4e project the Eclipse lsp client.

Please create an issue to this project.

[2022-11-23 08:12] #325 closed

[2022-11-23 13:48] gkwan-ibm commented on #324
created https://github.com/eclipse/lsp4e/issues/315

[2022-11-23 13:54] angelozerr commented on #324
Thanks.

[2022-11-23 13:54] #324 closed

[2022-11-23 13:58] angelozerr commented on #323
@gkwan-ibm could you add a screenshot with `MP / Jakarta EE feature`  please just to understand more what is not clear and suggets us some improvement (ex : do not know where the annotation from. , what is your exact suggestion)

[2022-11-23 14:08] angelozerr commented on #108
After re-reading the issue, it seems that snippet generates a full class content with package, class,etc.

We have this usecase in LemMinx (ex : generate full XSD content) and to filter this snippet we test if file is empty, see https://github.com/eclipse/lemminx/blob/b11ed6b6fa20e141ef7bbe28b883b5b51986be13/org.eclipse.lemminx/src/main/java/org/eclipse/lemminx/services/snippets/NewFileSnippetCont

[2022-11-23 14:18] angelozerr commented on #323
The description popup is not enought? Please give us in detail your suggestion.

Totally agree, but it is not trivial because it will require to trigger JDT LS on each key stroke and retrieve with JDT if you are before / inside / after a method, inside an annotation, etc is not easy. See https://github.com/eclipse/lsp4mp/issues/108#issuecomment-733738735

Could you give us a sample please.

At fir

[2022-11-23 15:50] rgrunber commented on #322
Closing this as a duplicate of #108 . We can prioritize that one. The difficult part will be that the snippets currently live in the MicroProfile LS, but that doesn't have access to the Java information (JDT) except through LS communication, which can be expensive. We would likely have to move the snippet registry / logic into the LSP4MP JDT component because it looks like snippet should be much s

[2022-11-23 15:50] #322 closed

[2022-11-23 16:31] gkwan-ibm commented on #323
screenshot from Mac:
![Screen Shot 2022-11-23 at 11 28 22 AM](https://user-images.githubusercontent.com/29576299/203598685-73ca955b-5dfe-4fe7-b25a-85204f86f711.png)
- In between the first line and the code, it is better to have an empty line

[2022-11-23 16:35] gkwan-ibm commented on #323
screenshots from Mac
![Screen Shot 2022-11-23 at 11 28 38 AM](https://user-images.githubusercontent.com/29576299/203599273-89f3fa83-f028-4404-9921-3402b2d1d763.png)
![Screen Shot 2022-11-23 at 11 28 48 AM](https://user-images.githubusercontent.com/29576299/203599291-d1080919-7126-4dff-8380-b89911e6bb03.png)

- there are multiple `@Content` and `@Schema`. It is better to have more text for users to

[2022-11-23 16:37] fbricon commented on #323
Adding a line between the description and the body of the change is something that needs to be fixed in LSP4E, nothing we can do here.

[2022-11-23 16:37] gkwan-ibm commented on #323
![Screen Shot 2022-11-23 at 11 35 35 AM](https://user-images.githubusercontent.com/29576299/203600077-a04de1af-cd48-4a31-a9ea-d94ba658fc86.png)

- the first line description is very simple. It is better to tell users that this annotation should be applied on a method, class, or variable, as well as it is from which MP feature

[2022-11-23 16:42] gkwan-ibm commented on #323
created https://github.com/eclipse/lsp4e/issues/317

[2022-11-23 16:48] gkwan-ibm commented on #323
![Screen Shot 2022-11-23 at 11 46 01 AM](https://user-images.githubusercontent.com/29576299/203602299-2f9449f7-7f4c-4ff2-9141-0af4fe31c0e0.png)

- an example of how clear the description. The annotation description should have its pattern and set of information